force-app/main/default/flows/CASE_Don_t_reopen_the_case_if_last_email_is_automatic_response_email_to_case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_It_An_Automatic_Response</name>
        <label>Is It An Automatic Response ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Latest_Email_Added_To_Case.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Réponse automatique</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Latest_Email_Added_To_Case.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Automatic response</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Latest_Email_Added_To_Case.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Automatic reply</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Latest_Email_Added_To_Case.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Rappels automatisés de salesforce.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Back_to_Previous_Status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Added automatic email deletion</description>
    <environments>Default</environments>
    <interviewLabel>CASE - Don&apos;t reopen the case if last email is automatic response (email-to-case) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CASE - Don&apos;t reopen the case if last email is automatic response (email-to-case)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Automatic_Response_Email</name>
        <label>Delete Automatic Response Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Get_Latest_Email_Added_To_Case</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Latest_Email_Added_To_Case</name>
        <label>Get Latest Email Added To Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_It_An_Automatic_Response</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Incoming</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailMessage</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Back_to_Previous_Status</name>
        <label>Update Case Back to Previous Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Delete_Automatic_Response_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>$Record__Prior.Status</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Latest_Email_Added_To_Case</targetReference>
        </connector>
        <filterFormula>AND(
  ISCHANGED({!$Record.Status}),
  ISPICKVAL({!$Record__Prior.Status}, &quot;Closed&quot;),
  ISPICKVAL({!$Record.Origin}, &quot;Adresse e-mail&quot;)
)</filterFormula>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
