force-app/main/default/flows/CASE_Update_Project_Progress_on_Projet_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Case_Avancement</name>
        <label>Assign Case Avancement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.ProjectProgress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Projet_client__r.Avancement__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Record_Type_Projet_Associated</name>
        <label>Check Record Type Projet Associated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Projet_associated_is_Projet_PPE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Projet_client__r.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Projet PPE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Case_Avancement</targetReference>
            </connector>
            <label>Projet associated is Projet PPE</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CASE Update Project Progress on Projet Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CASE Update Project Progress on Projet Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Record_Type_Projet_Associated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Projet_client__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
