force-app/main/default/flows/CASE_Language_Attribution_at_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Anything that helps deciding the Language of a Case.</description>
        <name>Case_Community_Creator_Origin</name>
        <label>Case Community Creator Origin</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Is_supplied_email_filled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Support_FRANCE_Queue</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact.CommunityUser__r.LanguageLocaleKey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>fr</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Activity_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>France</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ID_de_la_Queue_FRANCE</targetReference>
            </connector>
            <label>Support FRANCE Queue</label>
        </rules>
        <rules>
            <name>Support_US_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact.CommunityUser__r.LanguageLocaleKey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>en_US</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ID_de_la_Queue_US</targetReference>
            </connector>
            <label>Support US Queue</label>
        </rules>
        <rules>
            <name>Support_EMEA_Queue</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact.CommunityUser__r.LanguageLocaleKey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>fr_BE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.CommunityUser__r.LanguageLocaleKey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>de</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.CommunityUser__r.LanguageLocaleKey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>es</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.CommunityUser__r.LanguageLocaleKey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>en_GB</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ID_de_la_Queue_EMEA</targetReference>
            </connector>
            <label>Support EMEA Queue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Case_Channel</name>
        <label>Check Case Channel</label>
        <locationX>853</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Check_supplied_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Channel_is_SELF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SELF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Community_Creator_Origin</targetReference>
            </connector>
            <label>Channel is SELF</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_supplied_Email</name>
        <label>Check supplied Email</label>
        <locationX>1260</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Update_Case_Langue_to_English</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Supplied_Email_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Supplied Email is Null</label>
        </rules>
        <rules>
            <name>French_Email</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>@pixid.fr</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>dpo@pixid.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Langue_to_French</targetReference>
            </connector>
            <label>French Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_contact_email_filled</name>
        <label>Is contact email filled?</label>
        <locationX>644</locationX>
        <locationY>947</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_contact_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_supplied_email_with_contact_email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_supplied_email_filled</name>
        <label>Is supplied email filled ?</label>
        <locationX>446</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Is_contact_email_filled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Supplied_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Added routing to EMEA Support Queue if User language = English</description>
    <environments>Default</environments>
    <interviewLabel>CASE - Language Attribution at Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CASE - Language Attribution at Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>ID_de_la_Queue_EMEA</name>
        <label>ID de la Queue EMEA</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Language_to_Route_to_Support_EMEA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SupportEMEA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ID_de_la_Queue_FRANCE</name>
        <label>ID de la Queue FRANCE</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Language_to_FR_Route_to_Support_FR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SupportFR</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ID_de_la_Queue_US</name>
        <label>ID de la Queue US</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Language_to_EN_Route_to_Support_US</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SupportUS</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Language_to_EN_Route_to_Support_US</name>
        <label>Language to EN + Route to Support US</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Is_supplied_email_filled</targetReference>
        </connector>
        <inputAssignments>
            <field>Langue__c</field>
            <value>
                <elementReference>$Record.Contact.CommunityUser__r.LanguageLocaleKey</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ID_de_la_Queue_US.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Language_to_FR_Route_to_Support_FR</name>
        <label>Language to FR + Route to Support FR</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Is_supplied_email_filled</targetReference>
        </connector>
        <inputAssignments>
            <field>Langue__c</field>
            <value>
                <stringValue>fr</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ID_de_la_Queue_FRANCE.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Language_to_Route_to_Support_EMEA</name>
        <label>Language to + Route to Support EMEA</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Is_supplied_email_filled</targetReference>
        </connector>
        <inputAssignments>
            <field>Langue__c</field>
            <value>
                <elementReference>$Record.Contact.CommunityUser__r.LanguageLocaleKey</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ID_de_la_Queue_EMEA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Langue_to_English</name>
        <label>Update Case Langue to English</label>
        <locationX>1480</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Langue__c</field>
            <value>
                <stringValue>en_us</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Langue_to_French</name>
        <label>Update Case Langue to French</label>
        <locationX>1216</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Langue__c</field>
            <value>
                <stringValue>fr</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_supplied_email_with_contact_email</name>
        <label>Update supplied email with contact email</label>
        <locationX>512</locationX>
        <locationY>1055</locationY>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>$Record.ContactEmail</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>727</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Case_Channel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Archived__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
