force-app/main/default/flows/CASE_Attach_Contact_and_Account_to_new_EmailToCase.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Contact_Id</name>
        <label>Contact Id</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>contactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact_by_Email_Address.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Attach_Contact_To_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>If contact found, do nothing because standard email-to-case feature will automatically add the existing contact and account to the case.</description>
        <name>Contact_Found</name>
        <label>Contact Found ?</label>
        <locationX>710</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Get_Compte_D_attente</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_by_Email_Address</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_is_Pixid</name>
        <label>Email is Pixid ?</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Get_Contact_by_Email_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Ne_pas_repondre</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ne-pas-repondre@pixid.fr</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetPlateformePixidContact</targetReference>
            </connector>
            <label>Ne pas répondre</label>
        </rules>
        <rules>
            <name>Yes_Pixid</name>
            <conditionLogic>(1 AND NOT(2)) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>pixid</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ne-pas-repondre@pixid.fr</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>zopim</stringValue>
                </rightValue>
            </conditions>
            <label>Yes Pixid</label>
        </rules>
    </decisions>
    <description>Added Compte d&apos;attente logic</description>
    <environments>Default</environments>
    <formulas>
        <name>varF_FirstName</name>
        <dataType>String</dataType>
        <expression>IF(
  ISBLANK({!$Record.SuppliedName}),
  &quot;Inconnu&quot;,
  IF(
    CONTAINS({!$Record.SuppliedName}, &quot; &quot;),
    LEFT({!$Record.SuppliedName}, FIND(&quot; &quot;, {!$Record.SuppliedName}) - 1),
    {!$Record.SuppliedName}
  )
)</expression>
    </formulas>
    <formulas>
        <name>varF_LastName</name>
        <dataType>String</dataType>
        <expression>IF(
  ISBLANK({!$Record.SuppliedName}),
  &quot;À compléter&quot;,
  IF(
    CONTAINS({!$Record.SuppliedName}, &quot; &quot;),
    MID({!$Record.SuppliedName}, FIND(&quot; &quot;, {!$Record.SuppliedName}) + 1, LEN({!$Record.SuppliedName})),
    &quot;À compléter&quot;
  )
)</expression>
    </formulas>
    <interviewLabel>CASE - Attach Contact and Account to new EmailToCase {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CASE - Create new contact and attach it to Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact And Attach It To Compte D&apos;attente</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>AttachContactAndAccountToCase</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Compte_D_attente.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>varF_FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>varF_LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role_pour_Pixid__c</field>
            <value>
                <stringValue>Interlocuteur Client</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Compte_D_attente</name>
        <label>Get &quot;Compte D&apos;attente&quot;</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Compte d&apos;attente Pixid</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_by_Email_Address</name>
        <label>Get Contact by Email Address</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPlateformePixidContact</name>
        <label>Get Plateforme Pixid Contact</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Attach_Plateforme_Pixid_To_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ne-pas-repondre@pixid.fr</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Attach_Plateforme_Pixid_To_Case</name>
        <label>Attach Plateforme Pixid To Case</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>GetPlateformePixidContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AttachContactAndAccountToCase</name>
        <label>Attach Contact And Account To Case</label>
        <locationX>842</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Compte_D_attente.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Create_Contact</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Attach_Contact_To_Case</name>
        <label>Copy 1 of Attach Contact To Case</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Email_is_Pixid</targetReference>
        </connector>
        <filterLogic>1 AND 5 AND 6 AND 7 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>Origin</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </filters>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0057R00000DmWftQAF</stringValue>
            </value>
        </filters>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0057R00000DmWfcQAF</stringValue>
            </value>
        </filters>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0057R00000DmWfuQAF</stringValue>
            </value>
        </filters>
        <filters>
            <field>Archived__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SuppliedEmail</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
