force-app/main/default/flows/CASE_Entering_or_Leaving_Waiting_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>Null</name>
        <dataType>Date</dataType>
    </constants>
    <constants>
        <name>Zero</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Status_Changed_to_What</name>
        <label>Status Changed to What</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Waiting_Start_Clear</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>Waiting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting for Information</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Waiting_Start_Now</targetReference>
            </connector>
            <label>Waiting</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CASE - Entering or Leaving Waiting Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CASE - Entering or Leaving Waiting Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Waiting_Start_Clear</name>
        <label>Waiting Start Clear</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Relances__c</field>
            <value>
                <elementReference>Zero</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Waiting_Start__c</field>
            <value>
                <elementReference>Null</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Waiting_Start_Now</name>
        <label>Waiting Start Now + Substatus Pending response</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>SubStatus__c</field>
            <value>
                <stringValue>Pending customer response</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Waiting_Start__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Status_Changed_to_What</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
