force-app/main/default/flows/CASE_Scheduled_Emails_for_Waiting_Cases.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_2ndCallEN</name>
        <label>Copy 1 of 2ndCallEN</label>
        <locationX>2162</locationX>
        <locationY>684</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Increment_Relances</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Contact_Bounced</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>support_emea@pixid.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XIV00000By81F2AR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Contact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_2ndCallFR</name>
        <label>Copy 1 of 2ndCallFR</label>
        <locationX>2690</locationX>
        <locationY>684</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Increment_Relances</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Contact_Bounced</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>support@pixid.fr</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XIV00000By81J2AR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Contact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>LastCallEN</name>
        <label>LastCallEN</label>
        <locationX>50</locationX>
        <locationY>684</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>LastWarningSent</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Contact_Bounced</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>support_emea@pixid.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XIV00000By81E2AR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Contact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>LastCallFR</name>
        <label>LastCallFR</label>
        <locationX>578</locationX>
        <locationY>684</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>LastWarningSent</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Contact_Bounced</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>support@pixid.fr</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XIV00000By81I2AR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Contact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>X2ndCallEN</name>
        <label>2ndCallEN</label>
        <locationX>1106</locationX>
        <locationY>684</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Increment_Relances</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Contact_Bounced</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>support_emea@pixid.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XIV00000By81F2AR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Contact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>X2ndCallFR</name>
        <label>2ndCallFR</label>
        <locationX>1634</locationX>
        <locationY>684</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Increment_Relances</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Contact_Bounced</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>support@pixid.fr</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XIV00000By81J2AR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Contact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>SenderEN</name>
        <dataType>String</dataType>
        <value>
            <stringValue>support.mypixid@pixid.fr</stringValue>
        </value>
    </constants>
    <constants>
        <name>SenderFR</name>
        <dataType>String</dataType>
        <value>
            <stringValue>support.mypixid@pixid.fr</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Copy_1_of_Language</name>
        <label>Copy 1 of Language</label>
        <locationX>1370</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>X2ndCallFR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_English</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Language</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>en_US</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X2ndCallEN</targetReference>
            </connector>
            <label>Copy 1 of English</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Language</name>
        <label>Copy 2 of Language</label>
        <locationX>2426</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_2ndCallFR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_English</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Language</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>en_US</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_2ndCallEN</targetReference>
            </connector>
            <label>Copy 2 of English</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Email_Bounced</name>
        <label>Is Email Bounced?</label>
        <locationX>1205</locationX>
        <locationY>252</locationY>
        <defaultConnector>
            <targetReference>TodayIsWorkDay</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact.IsEmailBounced</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Language</name>
        <label>Language</label>
        <locationX>314</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>LastCallFR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Language</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Language</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>en_US</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LastCallEN</targetReference>
            </connector>
            <label>English</label>
        </rules>
    </decisions>
    <decisions>
        <name>TodayIsWorkDay</name>
        <label>TodayIsWorkDay</label>
        <locationX>2624</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>NotWorkedDay</defaultConnectorLabel>
        <rules>
            <name>WorkDay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkedDay</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WeekDaysSinceWaitingStart</targetReference>
            </connector>
            <label>WorkDay</label>
        </rules>
    </decisions>
    <decisions>
        <name>WeekDaysSinceWaitingStart</name>
        <label>WeekDaysSinceWaitingStart</label>
        <locationX>1766</locationX>
        <locationY>468</locationY>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>Equals8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ElapsedDaysWeekend</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>8.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Relances__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Language</targetReference>
            </connector>
            <label>Equals 8</label>
        </rules>
        <rules>
            <name>Above5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ElapsedDaysWeekend</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Relances__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Language</targetReference>
            </connector>
            <label>Equals 5</label>
        </rules>
        <rules>
            <name>Above2</name>
            <conditionLogic>1 AND ( 2 OR 3 )</conditionLogic>
            <conditions>
                <leftValueReference>ElapsedDaysWeekend</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Relances__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Relances__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>null</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Language</targetReference>
            </connector>
            <label>Equals 2</label>
        </rules>
    </decisions>
    <description>Added fault path and update &quot;To treat - Bounce&quot; on contact + Added update substatus</description>
    <environments>Default</environments>
    <formulas>
        <name>ElapsedDaysWeekend</name>
        <dataType>Number</dataType>
        <expression>$Flow.CurrentDate - DATEVALUE({!$Record.Waiting_Start__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>IncrementRelances</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Relances__c}+1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>WorkedDay</name>
        <dataType>Boolean</dataType>
        <expression>NOT(
  OR(
    TEXT(WEEKDAY($Flow.CurrentDate)) = &quot;1&quot;,  /* Dimanche */
    TEXT(WEEKDAY($Flow.CurrentDate)) = &quot;7&quot;,  /* Samedi */
    TEXT(MONTH($Flow.CurrentDate)) = &quot;1&quot; &amp;&amp; TEXT(DAY($Flow.CurrentDate)) = &quot;1&quot;,   /* 1 Jan */
    TEXT(MONTH($Flow.CurrentDate)) = &quot;12&quot; &amp;&amp; TEXT(DAY($Flow.CurrentDate)) = &quot;25&quot;  /* 25 Dec */
  )
)</expression>
    </formulas>
    <interviewLabel>CASE - Scheduled Emails for Waiting Cases {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CASE - Scheduled Emails for Waiting Cases</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Increment_Relances</name>
        <label>Increment Relances and Update Sub Status</label>
        <locationX>1766</locationX>
        <locationY>1224</locationY>
        <inputAssignments>
            <field>Relances__c</field>
            <value>
                <elementReference>IncrementRelances</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubStatus__c</field>
            <value>
                <stringValue>Pending customer response</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>LastWarningSent</name>
        <label>LastWarningSent</label>
        <locationX>314</locationX>
        <locationY>924</locationY>
        <inputAssignments>
            <field>LastWarningSent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Relances__c</field>
            <value>
                <elementReference>IncrementRelances</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Bounced</name>
        <label>Update Contact Bounced</label>
        <locationX>2954</locationX>
        <locationY>792</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>traiter__c</field>
            <value>
                <stringValue>A traiter</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>1079</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Email_Bounced</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Waiting for Information</stringValue>
            </value>
        </filters>
        <filters>
            <field>LastWarningSent__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Waiting_Start__c</field>
            <operator>GreaterThan</operator>
            <value>
                <dateTimeValue>2024-12-31T23:00:00.000Z</dateTimeValue>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-05-01</startDate>
            <startTime>09:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>null</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
