force-app/main/default/flows/CHARGE_MAPS_Renewal_Create_new_Charge_Maps.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Charge_Map_Item_to_List</name>
        <label>Add Charge Map Item to List</label>
        <locationX>622</locationX>
        <locationY>1824</locationY>
        <assignmentItems>
            <assignToReference>varCR_NewChargeMapItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_CurrentNewChargeMapItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_Charge_Map_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Charge_Map_Items_To_Existing_List</name>
        <label>Add Charge Map Items To Existing List</label>
        <locationX>514</locationX>
        <locationY>1224</locationY>
        <assignmentItems>
            <assignToReference>varCR_ExistingChargeMapItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Charge_Map_Items2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOnOtherChargeMaps1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Charge_Map_Items_To_List</name>
        <label>Add Charge Map Items To List</label>
        <locationX>534</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>varCR_ExistingChargeMapItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Charge_Map_Items</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetCrossSellChargeMapsForThisAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Opp_Line_Item_To_List</name>
        <label>Add Opp Line Item To List</label>
        <locationX>138</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>varCR_OppLineItemsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_NewOppLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_CM_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Charge_Map_Item_Values</name>
        <label>Assign New Charge Map Item Values</label>
        <locationX>622</locationX>
        <locationY>1716</locationY>
        <assignmentItems>
            <assignToReference>varR_CurrentNewChargeMapItem.ChargeMap__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_New_Charge_Map</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_CurrentNewChargeMapItem.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Charge_Map_Items.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_CurrentNewChargeMapItem.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Charge_Map_Items.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_CurrentNewChargeMapItem.StartDateRevRec__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varF_NewStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_CurrentNewChargeMapItem.BillingSchedule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Charge_Map_Items.BillingSchedule__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_CurrentNewChargeMapItem.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Charge_Map_Items.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_CurrentNewChargeMapItem.ProductNetsuiteId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Charge_Map_Items.ProductNetsuiteId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_CurrentNewChargeMapItem.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Charge_Map_Items.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_CurrentNewChargeMapItem.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Charge_Map_Items.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Charge_Map_Item_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opp_Line_Items_Values</name>
        <label>Assign Opp Line Items Values</label>
        <locationX>138</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>varR_NewOppLineItem.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Renewal_Opp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewOppLineItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_CM_Items.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewOppLineItem.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_CM_Items.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewOppLineItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_CM_Items.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewOppLineItem.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Opp_Line_Item_To_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_CR_for_cross_sell_charge_maps</name>
        <label>Create CR for cross sell charge maps</label>
        <locationX>534</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>varCR_CSChargeMaps</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetCrossSellChargeMapsForThisAccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WereThereOtherChargeMapsForThisClient</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contract_Duration_Still_Valid_Or_Auto_Renewal</name>
        <label>Contract Duration Still Valid Or Auto Renewal?</label>
        <locationX>732</locationX>
        <locationY>360</locationY>
        <defaultConnector>
            <targetReference>CreateTaskLog</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Should Not Be Renewed</defaultConnectorLabel>
        <rules>
            <name>Should_be_Renewed</name>
            <conditionLogic>(1 AND 3) OR 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContractDurationInYears__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AutoRenewal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NumberOfRenewalsLeft__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Charge_Map_Items</targetReference>
            </connector>
            <label>Should be Renewed</label>
        </rules>
    </decisions>
    <decisions>
        <name>End_Date_Today</name>
        <label>End Date = Today?</label>
        <locationX>622</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Vector</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Vector</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paid</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EndDateRevRec__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varF_TODAY</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Renewal_Record_Type_Id</targetReference>
            </connector>
            <label>Yes, Vector</label>
        </rules>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EndDateRevRec__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varF_TODAY</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contract_Duration_Still_Valid_Or_Auto_Renewal</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Other_Charge_Maps</name>
        <label>Other Charge Maps?</label>
        <locationX>534</locationX>
        <locationY>2232</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesOtherChargeMaps</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCrossSellChargeMapsForThisAccount</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_On_Other_Charge_Maps2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>WereThereOtherChargeMapsForThisClient</name>
        <label>Were There Other Charge Maps For This Client?</label>
        <locationX>534</locationX>
        <locationY>900</locationY>
        <defaultConnector>
            <targetReference>Create_New_Charge_Map</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesUpsell</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCrossSellChargeMapsForThisAccount</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopOnOtherChargeMaps1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Deleted Term field from Charge Map Items creation</description>
    <environments>Default</environments>
    <formulas>
        <name>varF_ChargeMapName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account__r.Name} &amp; &quot; - &quot; &amp; TEXT({!$Record.Account__r.Offre__c}) &amp; &quot; - &quot; &amp; TEXT(YEAR(TODAY()))</expression>
    </formulas>
    <formulas>
        <name>varF_CloseDateRenewalOpp</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(TODAY(), 12)</expression>
    </formulas>
    <formulas>
        <name>varF_NewNumberOfRenewalsLeft</name>
        <dataType>Number</dataType>
        <expression>IF({!$Record.NumberOfRenewalsLeft__c} &gt; 0, {!$Record.NumberOfRenewalsLeft__c} - 1, 0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>varF_NewStartDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.StartDateRevRec__c},12)</expression>
    </formulas>
    <formulas>
        <name>varF_RenewalOppName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account__r.Name} &amp; &quot; - &quot; &amp; &quot;Renewal&quot; &amp; &quot; &quot; &amp; TEXT(YEAR(TODAY()))</expression>
    </formulas>
    <formulas>
        <name>varF_TODAY</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>CHARGE MAPS - Renewal - Create new Charge Maps {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CHARGE MAPS - Renewal - Create new Charge Maps</label>
    <loops>
        <name>Loop_On_Charge_Map_Items</name>
        <label>Loop On Charge Map Items</label>
        <locationX>534</locationX>
        <locationY>1608</locationY>
        <collectionReference>varCR_ExistingChargeMapItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_New_Charge_Map_Item_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_New_Charge_Map_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_On_CM_Items</name>
        <label>Loop On CM Items</label>
        <locationX>50</locationX>
        <locationY>684</locationY>
        <collectionReference>Get_CM_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Opp_Line_Items_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Opp_Line_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_On_Other_Charge_Maps2</name>
        <label>Loop On Other Charge Maps</label>
        <locationX>402</locationX>
        <locationY>2340</locationY>
        <collectionReference>GetCrossSellChargeMapsForThisAccount</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Renewed_Charge_Map_Field</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>LoopOnOtherChargeMaps1</name>
        <label>Loop On Other Charge Maps</label>
        <locationX>426</locationX>
        <locationY>1008</locationY>
        <collectionReference>GetCrossSellChargeMapsForThisAccount</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Charge_Map_Items2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_New_Charge_Map</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Charge_Map</name>
        <label>Create New Charge Map</label>
        <locationX>534</locationX>
        <locationY>1500</locationY>
        <connector>
            <targetReference>Loop_On_Charge_Map_Items</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AutoRenewal__c</field>
            <value>
                <elementReference>$Record.AutoRenewal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndUser__c</field>
            <value>
                <elementReference>$Record.EndUser__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varF_ChargeMapName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumberOfRenewalsLeft__c</field>
            <value>
                <elementReference>varF_NewNumberOfRenewalsLeft</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateRevRec__c</field>
            <value>
                <elementReference>varF_NewStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Backlog</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </inputAssignments>
        <object>ChargeMap__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Charge_Map_Items</name>
        <label>Create New Charge Map Items</label>
        <locationX>534</locationX>
        <locationY>2016</locationY>
        <connector>
            <targetReference>Update_Triggering_Charge_Map_with_Renewal</targetReference>
        </connector>
        <inputReference>varCR_NewChargeMapItems</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Opp_Line_Items</name>
        <label>Create Opp Line Items</label>
        <locationX>50</locationX>
        <locationY>1092</locationY>
        <inputReference>varCR_OppLineItemsToCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Renewal_Opp</name>
        <label>Create Renewal Opp</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <connector>
            <targetReference>Get_CM_Line_Items</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activity__c</field>
            <value>
                <stringValue>VectorVMS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingTerms__c</field>
            <value>
                <elementReference>$Record.SourceOpportunity__r.BillingTerms__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>varF_CloseDateRenewalOpp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndUserAssociated__c</field>
            <value>
                <elementReference>$Record.SourceOpportunity__r.EndUserAssociated__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varF_RenewalOppName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>$Record.SourceOpportunity__r.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Renewal_Record_Type_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Qualification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Existing Business</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateTaskLog</name>
        <label>Create Task Log</label>
        <locationX>930</locationX>
        <locationY>468</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>This charge map was not renewed because the contract duration was empty or Auto Renewal was set to false.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Charge Map Not Renewed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Charge_Map_Items</name>
        <label>Get Charge Map Items</label>
        <locationX>534</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Charge_Map_Items_To_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ChargeMap__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductNature__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Usage</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ChargeMapItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Charge_Map_Items2</name>
        <label>Get Existing Charge Map Items From CrossSell Upsell Charge Maps</label>
        <locationX>514</locationX>
        <locationY>1116</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Charge_Map_Items_To_Existing_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ChargeMap__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopOnOtherChargeMaps1.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductNature__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Usage</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ChargeMapItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CM_Line_Items</name>
        <label>Get CM Line Items</label>
        <locationX>50</locationX>
        <locationY>576</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_On_CM_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ChargeMap__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ChargeMapItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Renewal_Record_Type_Id</name>
        <label>Get Renewal Record Type Id</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Renewal_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCrossSellChargeMapsForThisAccount</name>
        <label>Get Other CrossSell Charge Maps For This Account</label>
        <locationX>534</locationX>
        <locationY>684</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_CR_for_cross_sell_charge_maps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cross-sell/Upsell</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ChargeMap__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Renewed_Charge_Map_Field</name>
        <label>Update Renewed Charge Map Field</label>
        <locationX>490</locationX>
        <locationY>2448</locationY>
        <connector>
            <targetReference>Loop_On_Other_Charge_Maps2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_On_Other_Charge_Maps2.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RenewedChargeMap__c</field>
            <value>
                <elementReference>Create_New_Charge_Map</elementReference>
            </value>
        </inputAssignments>
        <object>ChargeMap__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Triggering_Charge_Map_with_Renewal</name>
        <label>Update Triggering Charge Map with Renewal</label>
        <locationX>534</locationX>
        <locationY>2124</locationY>
        <connector>
            <targetReference>Other_Charge_Maps</targetReference>
        </connector>
        <inputAssignments>
            <field>RenewedChargeMap__c</field>
            <value>
                <elementReference>Create_New_Charge_Map</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>496</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>End_Date_Today</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Backlog</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New business</stringValue>
            </value>
        </filters>
        <filters>
            <field>Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ChargeMap__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-02-26</startDate>
            <startTime>11:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>InvalidDraft</status>
    <variables>
        <name>varCR_ChargeMap</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ChargeMap__c</objectType>
    </variables>
    <variables>
        <name>varCR_CMOtherSubsidiary</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ChargeMap__c</objectType>
    </variables>
    <variables>
        <name>varCR_CrossSellUpsellChargeMaps</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ChargeMap__c</objectType>
    </variables>
    <variables>
        <name>varCR_CSChargeMaps</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ChargeMap__c</objectType>
    </variables>
    <variables>
        <name>varCR_ExistingChargeMapItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ChargeMapItem__c</objectType>
    </variables>
    <variables>
        <name>varCR_NewChargeMapItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ChargeMapItem__c</objectType>
    </variables>
    <variables>
        <name>varCR_OppLineItemsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>varR_CurrentNewChargeMapItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ChargeMapItem__c</objectType>
    </variables>
    <variables>
        <name>varR_NewChargeMap</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ChargeMap__c</objectType>
    </variables>
    <variables>
        <name>varR_NewOppLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
</Flow>
