force-app/main/default/flows/CHARGE_MAP_Charge_Map_creation_when_Opp_is_closed_won.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_New_Item_To_List</name>
        <label>Add New Item To List</label>
        <locationX>490</locationX>
        <locationY>1619</locationY>
        <assignmentItems>
            <assignToReference>varCR_CMItemsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_CurrentCMItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOnOppLineItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Billing_Address</name>
        <label>Assign Billing Address And Shipping Address</label>
        <locationX>402</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>Get_New_Charge_Map.BillingAddress__City__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Paying_Account.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_New_Charge_Map.BillingAddress__Street__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Paying_Account.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_New_Charge_Map.BillingAddress__PostalCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Paying_Account.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_New_Charge_Map.ShippingAddress__City__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Paying_Account.ShippingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_New_Charge_Map.ShippingAddress__Street__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Paying_Account.ShippingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_New_Charge_Map.ShippingAddress__PostalCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Paying_Account.ShippingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_New_Charge_Map.BillingContact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Existing_Charge_Map.BillingContact__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_New_Charge_Map.CashCollectionContact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Existing_Charge_Map.CashCollectionContact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_New_Charge_Map.EndUser__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Existing_Charge_Map.EndUser__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_New_Charge_Map.ShippingBusinessName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Paying_Account.ShippingBusinessName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_New_Charge_Map.ShippingDepartment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Paying_Account.ShippingDepartment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_New_Charge_Map.BillingConditions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Existing_Charge_Map.BillingConditions__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_New_Charge_Map.ETT_Price_Catalog__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Existing_Charge_Map.ETT_Price_Catalog__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_New_Charge_Map.ETTBillingSchedule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Existing_Charge_Map.ETTBillingSchedule__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_New_Charge_Map.SendInvoiceTo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Existing_Charge_Map.SendInvoiceTo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_New_Charge_Map.BillingBusinessName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Paying_Account.BillingBusinessName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_New_Charge_Map.BillingDepartment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Paying_Account.BillingDepartment__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Charge_Map_With_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Charge_Map_Item_Values_From_Opp_Line_Item_Values</name>
        <label>Assign Charge Map Item Values From Opp Line Item Values</label>
        <locationX>490</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>varR_CurrentCMItem.ChargeMap__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Charge_Map</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_CurrentCMItem.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOnOppLineItems.Product2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_CurrentCMItem.SourceOpportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_CurrentCMItem.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOnOppLineItems.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_CurrentCMItem.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOnOppLineItems.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_CurrentCMItem.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOnOppLineItems.Product2.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_CurrentCMItem.ProductNature__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOnOppLineItems.Product2.Nature__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_CurrentCMItem.ProductNetsuiteId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOnOppLineItems.Product2.NetsuiteId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_CurrentCMItem.Spend__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOnOppLineItems.Spend__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_CurrentCMItem.PercentageOfSpend__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOnOppLineItems.PercentageOfSpend__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_CurrentCMItem.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOnOppLineItems.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_CurrentCMItem.Sales_unit_price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOnOppLineItems.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_CurrentCMItem.LineDescription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOnOppLineItems.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_CurrentCMItem.DiscountNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOnOppLineItems.Discount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_CurrentCMItem.Nature__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOnOppLineItems.Product2.Nature__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_CurrentCMItem.End_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_New_Charge_Map.EndDateRevRec__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_CurrentCMItem.BillingSchedule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOnOppLineItems.Product2.Default_Billing_Schedule__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_CurrentCMItem.Term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOnOppLineItems.Product2.Default_Term__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_New_Item_To_List</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>ErrorNoBusinessUnitonOwner</name>
        <label>Error No Business Unit on Owner</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <customErrorMessages>
            <errorMessage>Business Unit is missing on opportunity owner&apos;s record</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Subsidiary_On_User</name>
        <label>Subsidiary On User</label>
        <locationX>226</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Get_Existing_Charge_Map</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Record_Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorNoBusinessUnitonOwner</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Added Unit/Sales price to line items, discount and line desc + product nature + end date + default billing schedule and term from product</description>
    <environments>Default</environments>
    <formulas>
        <name>IsPrimary</name>
        <dataType>Boolean</dataType>
        <expression>IF(
  {!varF_TypeOfChargeMap} = &quot;New business&quot;,
  TRUE,
  FALSE
)</expression>
    </formulas>
    <formulas>
        <name>varF_ChargeMapName</name>
        <dataType>String</dataType>
        <expression>{!Get_Paying_Account.Name} &amp; &quot; - &quot; &amp; TEXT({!$Record.Activity__c}) &amp; &quot; - &quot; &amp; TEXT(YEAR(TODAY()))</expression>
    </formulas>
    <formulas>
        <name>varF_FirstDayOfTheYear</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()), 1, 1)</expression>
    </formulas>
    <formulas>
        <name>varF_LastDayOfTheYear</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()), 12, 31)</expression>
    </formulas>
    <formulas>
        <name>varF_Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>varF_TypeOfChargeMap</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.RecordTypeName__c} = &apos;New business&apos;, &apos;New business&apos;, &apos;Cross-sell/Upsell&apos;)</expression>
    </formulas>
    <interviewLabel>CHARGE MAP - Charge Map creation when Opp is closed won {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CHARGE MAP - NB - Charge Map creation when Opp is closed won</label>
    <loops>
        <name>LoopOnOppLineItems</name>
        <label>Loop On Opp Line Items</label>
        <locationX>402</locationX>
        <locationY>1403</locationY>
        <collectionReference>Get_Opp_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Charge_Map_Item_Values_From_Opp_Line_Item_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Charge_Map_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Charge_Map</name>
        <label>Create Charge Map</label>
        <locationX>402</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Get_New_Charge_Map</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Paying_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AutoRenewal__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndUser__c</field>
            <value>
                <elementReference>$Record.EndUserAssociated__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varF_ChargeMapName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary__c</field>
            <value>
                <elementReference>IsPrimary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceOpportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateRevRec__c</field>
            <value>
                <elementReference>varF_FirstDayOfTheYear</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Backlog</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>varF_TypeOfChargeMap</elementReference>
            </value>
        </inputAssignments>
        <object>ChargeMap__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Charge_Map_Items</name>
        <label>Create Charge Map Items</label>
        <locationX>402</locationX>
        <locationY>1811</locationY>
        <inputReference>varCR_CMItemsToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_Charge_Map</name>
        <label>Get Existing Charge Map</label>
        <locationX>402</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Paying_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Paying_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ChargeMap__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Charge_Map</name>
        <label>Get New Charge Map</label>
        <locationX>402</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Billing_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Charge_Map</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ChargeMap__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp_Line_Items</name>
        <label>Get Opp Line Items</label>
        <locationX>226</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Owner_s_Subdisiary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Owner_s_Subdisiary</name>
        <label>Get Owner&apos;s Subdisiary</label>
        <locationX>226</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Paying_Account</name>
        <label>Get Paying Account</label>
        <locationX>402</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Charge_Map</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>226</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Subsidiary_On_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ChargeMap__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Owner_s_Subdisiary.PrimarySubsidiary__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Charge_Map_With_Address</name>
        <label>Update Charge Map With Address</label>
        <locationX>402</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>LoopOnOppLineItems</targetReference>
        </connector>
        <inputReference>Get_New_Charge_Map</inputReference>
    </recordUpdates>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opp_Line_Items</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed - Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varCR_CMItemsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ChargeMapItem__c</objectType>
    </variables>
    <variables>
        <name>varR_CurrentCMItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ChargeMapItem__c</objectType>
    </variables>
</Flow>
