force-app/main/default/flows/CHARGE_MAP_Create_CrossSell_Upsell_Charge_Map_when_opp_is_closed_won.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Charge_Map_Item_To_Collection</name>
        <label>Add Charge Map Item To Collection</label>
        <locationX>264</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>varCR_ChargeMapItemsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_NewChargeMapItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_Opp_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Charge_Map_Item_Values</name>
        <label>Assign New Charge Map Item Values</label>
        <locationX>264</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>varR_NewChargeMapItem.ChargeMap__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Charge_Map</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewChargeMapItem.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Opp_Line_Items.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewChargeMapItem.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Opp_Line_Items.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewChargeMapItem.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Opp_Line_Items.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewChargeMapItem.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Opp_Line_Items.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewChargeMapItem.ProductNature__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Opp_Line_Items.Product2.Nature__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewChargeMapItem.ProductNetsuiteId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Opp_Line_Items.Product2.NetsuiteId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewChargeMapItem.StartDateRevRec__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varF_FirstDayOfYear</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewChargeMapItem.SourceOpportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewChargeMapItem.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Opp_Line_Items.Product2.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewChargeMapItem.Spend__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Opp_Line_Items.Spend__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_NewChargeMapItem.PercentageOfSpend__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Opp_Line_Items.PercentageOfSpend__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Charge_Map_Item_To_Collection</targetReference>
        </connector>
    </assignments>
    <description>Added Spend and % Of Spend to every new Charge Map Item created</description>
    <environments>Default</environments>
    <formulas>
        <name>varF_ChargeMapName</name>
        <dataType>String</dataType>
        <expression>{!Get_Paying_Account.Name} &amp; &quot; - &quot; &amp; TEXT({!$Record.Activity__c}) &amp; &quot; - &quot; &amp; TEXT(YEAR(TODAY()))</expression>
    </formulas>
    <formulas>
        <name>varF_FirstDayOfYear</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()), 1, 1)</expression>
    </formulas>
    <interviewLabel>CHARGE MAP - Create CrossSell/Upsell Charge Map when opp is closed won {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CHARGE MAP - Create CrossSell/Upsell Charge Map when opp is closed won</label>
    <loops>
        <name>Loop_On_Opp_Line_Items</name>
        <label>Loop On Opp Line Items</label>
        <locationX>176</locationX>
        <locationY>863</locationY>
        <collectionReference>Get_Opp_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_New_Charge_Map_Item_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Charge_Map_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Charge_Map</name>
        <label>Create Charge Map</label>
        <locationX>176</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Loop_On_Opp_Line_Items</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AutoRenewal__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndUser__c</field>
            <value>
                <elementReference>$Record.EndUserAssociated__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varF_ChargeMapName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceOpportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Backlog</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Cross-sell/Upsell</stringValue>
            </value>
        </inputAssignments>
        <object>ChargeMap__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Charge_Map_Items</name>
        <label>Create Charge Map Items</label>
        <locationX>176</locationX>
        <locationY>1271</locationY>
        <inputReference>varCR_ChargeMapItemsToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Opp_Line_Items</name>
        <label>Get Opp Line Items</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Paying_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Paying_Account</name>
        <label>Get Paying Account</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_Subsidiary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Charge_Map</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ChargeMap__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User_Subsidiary.PrimarySubsidiary__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Subsidiary</name>
        <label>Get User Subsidiary</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opp_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed - Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Cross</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>varCR_ChargeMapItemsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ChargeMapItem__c</objectType>
    </variables>
    <variables>
        <name>varR_NewChargeMapItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ChargeMapItem__c</objectType>
    </variables>
</Flow>
