force-app/main/default/flows/CHARGE_MAP_Display_editable_items.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Item_to_List</name>
        <label>Add Item to List</label>
        <locationX>138</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>varCR_ItemsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_ItemToCreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Items_To_Create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Item_Values</name>
        <label>Assign New Item Values</label>
        <locationX>138</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>varR_ItemToCreate.ChargeMap__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_ItemToCreate.Sales_unit_price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Items_To_Create.Unit_Price</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_ItemToCreate.DiscountNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Items_To_Create.Discount_in</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_ItemToCreate.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Items_To_Create.Product2.selectedChoiceLabels</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_ItemToCreate.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Items_To_Create.Product2.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_ItemToCreate.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Items_To_Create.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_ItemToCreate.Nature__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product.Nature__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_ItemToCreate.StartDateRevRec__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Items_To_Create.StartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_ItemToCreate.End_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Charge_Map.EndDateRevRec__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Item_to_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Add_Products</name>
        <label>Add Products ?</label>
        <locationX>182</locationX>
        <locationY>1058</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Add_Product_s</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FBB_AddOrDeleteItems.value</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Add item</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Relevant_Products</targetReference>
            </connector>
            <label>Yes Add Product(s)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Delete_Items</name>
        <label>Delete Items ?</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Update_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FBB_AddOrDeleteItems.value</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Delete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_Allowed</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Allowed</name>
        <label>User Allowed?</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Delete_Selected_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Admin</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Selected_Items</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Added icons</description>
    <dynamicChoiceSets>
        <name>ProductsList</name>
        <collectionReference>Get_Relevant_Products</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Product2</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>CHARGE MAP - Display editable items {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CHARGE MAP - Display editable items</label>
    <loops>
        <name>Loop_Through_Items_To_Create</name>
        <label>Loop Through Items To Create</label>
        <locationX>50</locationX>
        <locationY>1382</locationY>
        <collectionReference>ChargeMapItemRepeater.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_New_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Items</name>
        <label>Create New Items</label>
        <locationX>50</locationX>
        <locationY>1898</locationY>
        <connector>
            <targetReference>Get_Newly_Created_Items</targetReference>
        </connector>
        <inputReference>varCR_ItemsToCreate</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Selected_Items</name>
        <label>Delete Selected Items</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Update_Items</targetReference>
        </connector>
        <inputReference>DataTableBacklog.outputSelectedRows</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Charge_Map</name>
        <label>Get Charge Map</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DisplayChargeMapItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ChargeMap__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Charge_Map_Items</name>
        <label>Get Charge Map Items</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Charge_Map</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ChargeMap__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ChargeMapItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Newly_Created_Items</name>
        <label>Get Newly Created Items</label>
        <locationX>50</locationX>
        <locationY>2006</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ChargeMap__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ChargeMapItem__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product</name>
        <label>Get Current Product</label>
        <locationX>138</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_New_Item_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Through_Items_To_Create.Product2.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Relevant_Products</name>
        <label>Get Relevant Products</label>
        <locationX>50</locationX>
        <locationY>1166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AddProducts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CurrencyIsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.CurrencyIsoCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Items</name>
        <label>Update Items</label>
        <locationX>182</locationX>
        <locationY>950</locationY>
        <connector>
            <targetReference>Add_Products</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorMsg_PO</targetReference>
        </faultConnector>
        <inputReference>DataTableBacklog.outputEditedRows</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>AddProducts</name>
        <label>Add products</label>
        <locationX>50</locationX>
        <locationY>1274</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Through_Items_To_Create</targetReference>
        </connector>
        <fields>
            <name>ChargeMapItemRepeater</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>Product2</name>
                <choiceReferences>ProductsList</choiceReferences>
                <extensionName>flowruntime:choiceLookup</extensionName>
                <fieldText>Product</fieldText>
                <fieldType>ComponentChoice</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Unit_Price</name>
                <dataType>Currency</dataType>
                <fieldText>Unit Price</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <scale>0</scale>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>4</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Quantity</name>
                <dataType>Number</dataType>
                <fieldText>Quantity</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <scale>0</scale>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>4</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Discount_in</name>
                <dataType>Number</dataType>
                <defaultValue>
                    <numberValue>0.0</numberValue>
                </defaultValue>
                <fieldText>Discount (in %)</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <scale>0</scale>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>middle</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>4</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>StartDate</name>
                <dataType>Date</dataType>
                <fieldText>Start date</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>6</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>EndDate</name>
                <dataType>Date</dataType>
                <defaultValue>
                    <elementReference>Get_Charge_Map.EndDateRevRec__c</elementReference>
                </defaultValue>
                <fieldText>End date</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isReadOnly>
                    <booleanValue>true</booleanValue>
                </isReadOnly>
                <isRequired>true</isRequired>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>6</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DisplayChargeMapItems</name>
        <label>Display Charge Map Items</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Delete_Items</targetReference>
        </connector>
        <fields>
            <name>WhatYouCanModify</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 11px;&quot;&gt;&lt;em&gt;Don&apos;t forget to hit the Save button after your changes!&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11px;&quot;&gt;&lt;em&gt;Only items that are fully completed and activated can be sent over to Netsuite.&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Backlog</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DataTableBacklog</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ChargeMapItem__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>ChargeMapItem__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Charge_Map_Items</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>Amount__c:true, Quantity__c:true, Sales_unit_price__c:true, DiscountNumber__c:true, BillingSchedule__c:true, Term__c:true, StartDateRevRec__c:true, Status__c:true, LineDescription__c:true, Activated__c:true, PercentageOfSpend__c:true, PO_Required__c:true, PO_Reference__c:true, PO_Request_Date__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Amount__c,Quantity__c,Sales_unit_price__c,DiscountNumber__c,BillingSchedule__c,Term__c,StartDateRevRec__c,End_date__c,Status__c,LineDescription__c,Activated__c,Spend__c,PercentageOfSpend__c,PO_Required__c,PO_Reference__c,PO_Request_Date__c,SalesOrderID__c,NbOfMonthsProrated__c,ProratedAmount__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:0, Amount__c:0, Quantity__c:0, Sales_unit_price__c:0, DiscountNumber__c:0, BillingSchedule__c:0, Term__c:0, StartDateRevRec__c:0, End_date__c:0, Status__c:0, LineDescription__c:0, Activated__c:0, Spend__c:0, PercentageOfSpend__c:0, PO_Required__c:0, PO_Reference__c:0, PO_Request_Date__c:0, SalesOrderID__c:0, NbOfMonthsProrated__c:0, ProratedAmount__c:0</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showSelectedCount</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_allowNoneToBeChosen</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRemoveRowAction</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>rowActionType</name>
                <value>
                    <stringValue>Standard</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>removeLabel</name>
                <value>
                    <stringValue>Perform Action</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>rowActionButtonLabel</name>
                <value>
                    <stringValue>Perform Action</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>removeIcon</name>
                <value>
                    <stringValue>utility:touch_action</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>rowActionButtonIcon</name>
                <value>
                    <stringValue>utility:close</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowNoneToBeChosen</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navigateNextOnSave</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnAlignments</name>
                <value>
                    <stringValue>Term__c:right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnIcons</name>
                <value>
                    <stringValue>Amount__c:standard:custom_component_task, Quantity__c:standard:marketing_actions, Sales_unit_price__c:standard:marketing_actions, DiscountNumber__c:standard:marketing_actions, BillingSchedule__c:standard:actions_and_buttons, Term__c:standard:actions_and_buttons, StartDateRevRec__c:standard:actions_and_buttons, End_date__c:standard:custom_component_task, Status__c:standard:custom_component_task, LineDescription__c:standard:marketing_actions, Activated__c:standard:actions_and_buttons, Spend__c:standard:marketing_actions, PercentageOfSpend__c:standard:marketing_actions, PO_Required__c:standard:actions_and_buttons, PO_Reference__c:standard:actions_and_buttons, PO_Request_Date__c:standard:actions_and_buttons, SalesOrderID__c:standard:custom_component_task, NbOfMonthsProrated__c:standard:custom_component_task, ProratedAmount__c:standard:custom_component_task</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFlexes</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FBB_AddOrDeleteItems</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>both</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Add item(s)&quot;,&quot;value&quot;:&quot;Add item(s)&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:add&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Delete selected item(s)&quot;,&quot;value&quot;:&quot;Delete selected items&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive&quot;,&quot;iconName&quot;:&quot;utility:clear&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Backlog</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Update items</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorMsg_PO</name>
        <label>ErrorMsg PO</label>
        <locationX>578</locationX>
        <locationY>1058</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Go back</backButtonLabel>
        <fields>
            <name>DisplayError</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(24, 24, 24);&quot;&gt;⚠️ You can&apos;t activate these items because at least one of these fields is empty : &lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(24, 24, 24);&quot;&gt;Billing Schedule&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(24, 24, 24);&quot;&gt;Term&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(24, 24, 24);&quot;&gt;Start Date&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(24, 24, 24);&quot;&gt;📝 Also, if a PO is required on the items, the PO Reference and PO Request date must be filled.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Charge_Map_Items</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ChargeMap__c</objectType>
    </variables>
    <variables>
        <name>varCR_ItemsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ChargeMapItem__c</objectType>
    </variables>
    <variables>
        <name>varR_ItemToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ChargeMapItem__c</objectType>
    </variables>
</Flow>
