force-app/main/default/flows/CM_Update_billing_et_schedule_name.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>CM - Update billing et schedule name {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CM - Update billing et schedule name</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Paying_Account</name>
        <label>Get Paying Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Charge_Map</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Charge_Map</name>
        <label>Update Charge Map</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>BillingBusinessName__c</field>
            <value>
                <elementReference>Get_Paying_Account.BillingBusinessName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingDepartment__c</field>
            <value>
                <elementReference>Get_Paying_Account.BillingDepartment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingBusinessName__c</field>
            <value>
                <elementReference>Get_Paying_Account.ShippingBusinessName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingDepartment__c</field>
            <value>
                <elementReference>Get_Paying_Account.ShippingDepartment__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Paying_Account</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>BillingDepartment__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BillingBusinessName__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ShippingBusinessName__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ShippingDepartment__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ChargeMap__c</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2025-07-30</startDate>
            <startTime>17:08:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
