force-app/main/default/flows/CMITEM_Send_billable_items_to_Netsuite.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Pb</name>
        <label>Assign Pb</label>
        <locationX>402</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>PbOnItems</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Charge_Map.Pb_On_Items_PO__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Billable_Charge_Map_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Status_Billed</name>
        <label>Assign Status = Billed</label>
        <locationX>1018</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>Loop_On_Charge_Map_Items.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Billable</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_On_Charge_Map_Items.BillableStatusDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varF_TodaysDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCR_CMItemsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_On_Charge_Map_Items</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_Charge_Map_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Nb_Of_Items_Ready</name>
        <label>Nb Of Items Ready</label>
        <locationX>402</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>NbOfItemsReady</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Billable_Charge_Map_Items</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>All_Infos_FilledOrNoProducts</name>
        <label>All Infos Filled Or No Products</label>
        <locationX>402</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Show_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes - All Infos Filled And At Least 1 Product Ready</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varB_MissingInfoAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varB_MissingInfoChargeMap</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Missing_Informations</targetReference>
            </connector>
            <label>No - Missing Infos</label>
        </rules>
        <rules>
            <name>No_Products_Ready</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NbOfItemsReady</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoProductsText</targetReference>
            </connector>
            <label>No Products Ready</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cancel</name>
        <label>Cancel ?</label>
        <locationX>754</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Loop_On_Charge_Map_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FBBDecision.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancel</stringValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Refacto</description>
    <environments>Default</environments>
    <formulas>
        <name>varB_MissingInfoAccount</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!Get_Account.RegistrationNumber__c}) ||
ISBLANK({!Get_Account.VATNumber__c}) ||
ISBLANK(TEXT({!Get_Account.Activity_Country__c})) ||
(
   ISBLANK({!Get_Account.ID_interne_TdG__c}) &amp;&amp;
   TEXT({!Get_Account.Sous_type__c}) = &apos;TSC&apos; &amp;&amp;
   TEXT({!Get_Charge_Map.SourceOpportunity__r.Activity__c}) = &apos;Pixid FR&apos; &amp;&amp;
   TEXT({!Get_Charge_Map.SourceOpportunity__r.Offer__c}) = &apos;Pack&apos;
)</expression>
    </formulas>
    <formulas>
        <name>varB_MissingInfoChargeMap</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!Get_Charge_Map.BillingContact__c}) 
|| ISBLANK({!Get_Charge_Map.CashCollectionContact__c}) 
|| ISBLANK(TEXT({!Get_Charge_Map.PaymentMethod__c})) 
|| ISBLANK(TEXT({!Get_Charge_Map.BillingConditions__c})) 
|| ISBLANK(TEXT({!Get_Charge_Map.InvoiceSendingMethod__c})) 
|| ISBLANK({!Get_Charge_Map.BillingInstructions__c})  
|| ISBLANK({!Get_Charge_Map.ContractDurationInYears__c})  
|| (
    TEXT({!Get_Charge_Map.InvoiceSendingMethod__c}) = &quot;Email&quot; 
    &amp;&amp; ISBLANK({!Get_Charge_Map.SendInvoiceTo__c})
) 
|| (
    TEXT({!Get_Charge_Map.InvoiceSendingMethod__c}) = &quot;Platform&quot;
    &amp;&amp; ISBLANK({!Get_Charge_Map.PlatformLink__c})
)</expression>
    </formulas>
    <formulas>
        <name>varF_TodaysDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>varT_AccountActivityCountry</name>
        <dataType>String</dataType>
        <expression>TEXT({!Get_Account.Activity_Country__c})</expression>
    </formulas>
    <formulas>
        <name>varT_AccountSousType</name>
        <dataType>String</dataType>
        <expression>TEXT({!Get_Account.Sous_type__c})</expression>
    </formulas>
    <formulas>
        <name>varT_SourceOpportunityActivity</name>
        <dataType>String</dataType>
        <expression>TEXT({!Get_Charge_Map.SourceOpportunity__r.Activity__c})</expression>
    </formulas>
    <formulas>
        <name>varT_SourceOpportunityOffer</name>
        <dataType>String</dataType>
        <expression>TEXT({!Get_Charge_Map.SourceOpportunity__r.Offer__c})</expression>
    </formulas>
    <interviewLabel>CMITEM - Send billable items to Netsuite {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CMITEM - Send billable items to Netsuite</label>
    <loops>
        <name>Loop_On_Charge_Map_Items</name>
        <label>Loop On Charge Map Items</label>
        <locationX>930</locationX>
        <locationY>998</locationY>
        <collectionReference>Get_Billable_Charge_Map_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Status_Billed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Records_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>402</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>All_Infos_FilledOrNoProducts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Charge_Map.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Billable_Charge_Map_Items</name>
        <label>Get Billable Charge Map Items</label>
        <locationX>402</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Nb_Of_Items_Ready</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ChargeMap__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Backlog</stringValue>
            </value>
        </filters>
        <filters>
            <field>Activated__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StartDateRevRec__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Term__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BillingSchedule__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ChargeMapItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Charge_Map</name>
        <label>Get Charge Map</label>
        <locationX>402</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Pb</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ChargeMap__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Records_1</name>
        <label>Update Charge Map Items Status</label>
        <locationX>930</locationX>
        <locationY>1298</locationY>
        <inputReference>varCR_CMItemsToUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>Missing_Informations</name>
        <label>Missing Informations</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>PleaseReview</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;​⚠️ &lt;/span&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(25, 1, 1);&quot;&gt;Missing informations &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;​⚠️&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>MissingFieldsLWC</name>
            <extensionName>c:missingFieldsScreenChargeMap</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>chargeMapBillingConditions</name>
                <value>
                    <elementReference>Get_Charge_Map.BillingConditions__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>chargeMapBillingContact</name>
                <value>
                    <elementReference>Get_Charge_Map.BillingContact__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>chargeMapBillingInstructions</name>
                <value>
                    <elementReference>Get_Charge_Map.BillingInstructions__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>chargeMapCashCollectionContact</name>
                <value>
                    <elementReference>Get_Charge_Map.CashCollectionContact__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>chargeMapContractDurationInYears</name>
                <value>
                    <elementReference>Get_Charge_Map.ContractDurationInYears__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>chargeMapInvoiceSendingMethod</name>
                <value>
                    <elementReference>Get_Charge_Map.InvoiceSendingMethod__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>chargeMapPaymentMethod</name>
                <value>
                    <elementReference>Get_Charge_Map.PaymentMethod__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>chargeMapPlatformLink</name>
                <value>
                    <elementReference>Get_Charge_Map.PlatformLink__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>chargeMapPOFrequency</name>
                <value>
                    <elementReference>Get_Charge_Map.PO_Frequency__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>chargeMapPOReference</name>
                <value>
                    <elementReference>Get_Charge_Map.PurchaseOrderReference__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>chargeMapPORequestDate</name>
                <value>
                    <elementReference>Get_Charge_Map.PurchaseOrderRequestDate__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>chargeMapPORequired</name>
                <value>
                    <elementReference>Get_Charge_Map.PO_Required__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accountRegistrationNumber</name>
                <value>
                    <elementReference>Get_Account.RegistrationNumber__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>chargeMapSendInvoiceTo</name>
                <value>
                    <elementReference>Get_Charge_Map.SendInvoiceTo__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accountVATNumber</name>
                <value>
                    <elementReference>Get_Account.VATNumber__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accountActivityCountry</name>
                <value>
                    <elementReference>varT_AccountActivityCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accountIdInterneTdG</name>
                <value>
                    <elementReference>Get_Account.ID_interne_TdG__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accountSousType</name>
                <value>
                    <elementReference>varT_AccountSousType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sourceOpportunityActivity</name>
                <value>
                    <elementReference>varT_SourceOpportunityActivity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sourceOpportunityOffer</name>
                <value>
                    <elementReference>varT_SourceOpportunityOffer</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pbOnItemsPO</name>
                <value>
                    <elementReference>Get_Charge_Map.Pb_On_Items_PO__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NoProductsText</name>
        <label>NoProductsText</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoProductsReady</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;⚠️ No products are ready to be sent to Netsuite yet. Please review all fields on items!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Show_Items</name>
        <label>Show Items</label>
        <locationX>754</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Cancel</targetReference>
        </connector>
        <fields>
            <name>PleaseReviewInfos</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(11, 0, 0);&quot;&gt;​✅ &lt;/span&gt;&lt;strong style=&quot;color: rgb(11, 0, 0); font-size: 14px;&quot;&gt;Please review these informations before you send products for billing in Netsuite&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Products</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(8, 0, 0);&quot;&gt;​💠​ &lt;/span&gt;&lt;strong style=&quot;color: rgb(8, 0, 0);&quot;&gt;Products&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ProductsDatatable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ChargeMapItem__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Products</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Billable_Charge_Map_Items</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-9dd1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Charge Map Item Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Amount__c&quot;,&quot;guid&quot;:&quot;column-ab46&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Amount&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Quantity__c&quot;,&quot;guid&quot;:&quot;column-adf9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Quantity&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;StartDateRevRec__c&quot;,&quot;guid&quot;:&quot;column-30ba&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Billing start date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;EndDateRevRec__c&quot;,&quot;guid&quot;:&quot;column-4fe7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;End date - Rev Rec&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;ProratedAmount__c&quot;,&quot;guid&quot;:&quot;column-81ae&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Prorated Amount&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;BillingSchedule__c&quot;,&quot;guid&quot;:&quot;column-96c3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;Billing schedule&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Term__c&quot;,&quot;guid&quot;:&quot;column-8bd2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:7,&quot;label&quot;:&quot;Term&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>MandatoryInformations</name>
            <fieldText>&lt;p&gt;❇️​&lt;strong style=&quot;color: rgb(0, 10, 11); font-size: 14px;&quot;&gt; Billing informations&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>MandatoryInfos</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Billing contact&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_Charge_Map.BillingContact__r.FirstName} {!Get_Charge_Map.BillingContact__r.LastName}&lt;/p&gt;&lt;p&gt;{!Get_Charge_Map.BillingContact__r.Email}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Billing address&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_Charge_Map.BillingAddress__Street__s}&lt;/p&gt;&lt;p&gt;{!Get_Charge_Map.BillingAddress__PostalCode__s}&lt;/p&gt;&lt;p&gt;{!Get_Charge_Map.BillingAddress__City__s}&lt;/p&gt;&lt;p&gt;{!Get_Charge_Map.BillingAddress__CountryCode__s}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Billing conditions&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_Charge_Map.BillingConditions__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Invoice sending method&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_Charge_Map.InvoiceSendingMethod__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Payment method&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_Charge_Map.PaymentMethod__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FBBDecision</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Cancel&quot;,&quot;value&quot;:&quot;Cancel&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive&quot;,&quot;index&quot;:0,&quot;iconName&quot;:&quot;utility:clear&quot;},{&quot;label&quot;:&quot;Send for billing&quot;,&quot;value&quot;:&quot;Send for billing&quot;,&quot;iconPosition&quot;:&quot;right&quot;,&quot;variant&quot;:&quot;success&quot;,&quot;iconName&quot;:&quot;utility:check&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>276</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Charge_Map</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountRegistrationNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountVATNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>chargeMapBillingConditions</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>chargeMapBillingContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>chargeMapBillingInstructions</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>chargeMapCashCollectionContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>chargeMapContractDurationInYears</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>chargeMapInvoiceSendingMethod</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>chargeMapPaymentMethod</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>chargeMapPlatformLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>chargeMapPOFrequency</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>chargeMapPOReference</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>chargeMapPORequestDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>chargeMapPORequired</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>chargeMapSendInvoiceTo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ItemsWithMissingPO</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ChargeMapItem__c</objectType>
    </variables>
    <variables>
        <name>NbOfItemsReady</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>PbOnItems</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>POMissingCheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varC_MissingFields</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCR_BillableChargeMapItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ChargeMapItem__c</objectType>
    </variables>
    <variables>
        <name>varCR_CMItemsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ChargeMapItem__c</objectType>
    </variables>
</Flow>
