force-app/main/default/flows/CMITEM_Default_values_from_product.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Product_Values</name>
        <label>Assign Product Values</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>$Record.SourceOpportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Charge_Map.SourceOpportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TruncatedProductName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Nature__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product.Nature__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingSchedule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product.Default_Billing_Schedule__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product.Default_Term__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.PO_Required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_PO_Required_Boolean</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>When a Charge Map Item is created with a Product, automatically populate product-derived fields: Name, Nature, BillingSchedule, and Term. Also copies the SourceOpportunity from the parent Charge Map. ProductNature and ProductNetsuiteId are formula fields and auto-compute from the Product relationship.</description>
    <formulas>
        <name>TruncatedProductName</name>
        <dataType>String</dataType>
        <expression>LEFT({!Get_Product.Name}, 80)</expression>
    </formulas>
    <environments>Default</environments>
    <formulas>
        <name>formula_PO_Required_Boolean</name>
        <dataType>Boolean</dataType>
        <expression>TEXT({!Get_Charge_Map.PO_Required__c}) = "Yes"</expression>
    </formulas>
    <interviewLabel>CMITEM - Default values from product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CMITEM - Default values from product</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Charge_Map</name>
        <label>Get Charge Map</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Product_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ChargeMap__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ChargeMap__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product</name>
        <label>Get Product</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Charge_Map</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>ChargeMapItem__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
