force-app/main/default/flows/Create_Public_URL_For_Jira_Attachments.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_URL_to_Variable</name>
        <label>Assign URL to Variable</label>
        <locationX>264</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>ContactURL</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!GetContentDelivery.DistributionPublicUrl}{!linebreak} {!ContactURL}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Attchament</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>linebreak</name>
        <dataType>String</dataType>
        <expression>BR()</expression>
    </formulas>
    <formulas>
        <name>PlusUneHeureetDixSec</name>
        <dataType>DateTime</dataType>
        <expression>$Flow.CurrentDateTime + 1 + (10 / 86400)</expression>
    </formulas>
    <interviewLabel>Create Public URL For Jira Attachments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Public URL For Jira Attachments</label>
    <loops>
        <name>For_Each_Attchament</name>
        <label>For Each Attchament</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Content_Document_Links</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetContentVersions</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Records_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Content_Delivery</name>
        <label>Create Content Delivery</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>GetContentDelivery</targetReference>
        </connector>
        <inputAssignments>
            <field>ContentVersionId</field>
            <value>
                <elementReference>GetContentVersions.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>GetContentVersions.Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreferencesAllowOriginalDownload</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreferencesAllowViewInBrowser</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreferencesExpires</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreferencesNotifyOnVisit</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreferencesPasswordRequired</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>ContentDistribution</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Content_Document_Links</name>
        <label>Get Content Document Links</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_Attchament</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Jira_Issue.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Jira_Issue</name>
        <label>Get Jira Issue</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Content_Document_Links</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Jira_Issue__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetContentDelivery</name>
        <label>Get Content Delivery</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_URL_to_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Content_Delivery</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDistribution</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetContentVersions</name>
        <label>GetContentVersions</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Content_Delivery</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>For_Each_Attchament.ContentDocumentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Records_1</name>
        <label>Update Records 1</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PublicFiles__c</field>
            <value>
                <elementReference>ContactURL</elementReference>
            </value>
        </inputAssignments>
        <object>Jira_Issue__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Jira_Issue</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContactURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_ContentDeliveryURLs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
