force-app/main/default/flows/FL_04_REC_LEAD_WebsiteFormSubmissionNotifySales_After_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendEmailNotifcation</name>
        <label>SendEmailNotifcation</label>
        <locationX>176</locationX>
        <locationY>1247</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>lstEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>communication@pixid.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>TXT_EmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TXT_EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>addEmailToList</name>
        <label>addEmailToList</label>
        <locationX>264</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>lstEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopThroughUsersQueueMembers.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughUsersQueueMembers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ass_UserID</name>
        <label>Ass_UserID</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Var_UserIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopOnGroupMembers.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOnGroupMembers</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>FOR_LeadUrl</name>
        <dataType>String</dataType>
        <expression>LEFT( {!$Api.Partner_Server_URL_520}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_520} ))&amp;{!$Record.Id}</expression>
    </formulas>
    <formulas>
        <name>For_UserEmail</name>
        <dataType>String</dataType>
        <expression>{!LoopThroughUsersQueueMembers.Email}</expression>
    </formulas>
    <interviewLabel>FL_04_REC_LEAD_FormSubmissionNotifySales_After-Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LEAD - Notification Lead US PIXIDVMS US</label>
    <loops>
        <name>LoopOnGroupMembers</name>
        <label>LoopOnGroupMembers</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <collectionReference>GetQueueMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Ass_UserID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetUsersMembersOfQueue</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopThroughUsersQueueMembers</name>
        <label>LoopThroughUsersQueueMembers</label>
        <locationX>176</locationX>
        <locationY>947</locationY>
        <collectionReference>GetUsersMembersOfQueue</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>addEmailToList</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SendEmailNotifcation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetQueue</name>
        <label>GetQueue</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetQueueMembers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>USLeadQueue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetQueueMembers</name>
        <label>GetQueueMembers</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOnGroupMembers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetQueue.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetUsersMembersOfQueue</name>
        <label>GetUsersMembersOfQueue</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopThroughUsersQueueMembers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Var_UserIDs</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetQueue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LeadSource</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Website</stringValue>
            </value>
        </filters>
        <filters>
            <field>Offer__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pixid VMS US</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>TXT_EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Hello team,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;A new request has come in for the {!GetQueue.Name} team via the website.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please find below the details, as well as a link to the lead:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{$!Record.Lien__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;table class=&quot;ql-table-blob&quot; style=&quot;background-color: #e0f8d3; width: 700px; border-spacing: 0 5px&quot;&gt;&lt;tbody style=&quot;white-space: pre;&quot;&gt;&lt;tr style=&quot;height: 30px;&quot;&gt;&lt;th style=&quot;text-align:left&quot;&gt;Details submitted on the form&lt;/th&gt;&lt;/tr&gt; 			&lt;tr&gt;&lt;td style=&quot;background-color: white; padding-left:20px;&quot;&gt;Name: {$!Record.FirstName} {$!Record.LastName}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;background-color: white; padding-left:20px;&quot;&gt;Company: {$!Record.Company}&lt;/td&gt;&lt;/tr&gt;&lt;tr style=&quot;height: 30px;&quot;&gt;&lt;th style=&quot;text-align:left&quot;&gt;Message&lt;/th&gt;&lt;/tr&gt; 			&lt;tr&gt;&lt;td style=&quot;background-color: white; padding-left:20px;&quot;&gt;{$!Record.Description}&lt;/td&gt;&lt;/tr&gt; 		&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thanks,&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Your Communication team&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(99, 199, 41);&quot;&gt;E&lt;/strong&gt; : communication@pixid.com&lt;/p&gt;&lt;p&gt; &lt;strong style=&quot;color: rgb(99, 199, 41);&quot;&gt;A&lt;/strong&gt; : 53/55 rue du Capitaine Guynemer - 92400 Courbevoie (France)&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://www.pixid.fr/en&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;img src=&quot;https://pixid-crm.file.force.com/file-asset-public/X2024signatureSF?oid=00DAW00000Kl5PI&quot;&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://www.linkedin.com/company/pixid&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;img src=&quot;https://pixid-crm.file.force.com/file-asset-public/rslinkedinsf?oid=00DAW00000Kl5PI&quot;&gt;&lt;/a&gt; &lt;a href=&quot;https://twitter.com/pixid_group&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;img src=&quot;https://pixid-crm.file.force.com/file-asset-public/X2024rstwittersf?oid=00DAW00000Kl5PI&quot;&gt;&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TXT_EmailSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>New lead for Pixid VMS US - {!$Record.LeadSource} - {!$Record.Company}</text>
    </textTemplates>
    <variables>
        <name>lstEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_UserEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_UserIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
