force-app/main/default/flows/FL_01_REC_Lead_UpdateStagePassageDate_After_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>IsLead_ToContact</name>
        <label>IsLeadStatus&apos;ToContact&apos;</label>
        <locationX>297</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>IsLeadStatus_InProgress</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE</defaultConnectorLabel>
        <rules>
            <name>LeadStatus_ToContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A contacter</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateLead</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>LeadStatus&apos;ToContact&apos;</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsLeadStatus_InProgress</name>
        <label>IsLeadStatus&apos;InProgress&apos;</label>
        <locationX>545</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>IsLeadStatus_IsNotInterested</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE</defaultConnectorLabel>
        <rules>
            <name>LeadStatus_InProgress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En cours</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateLead2</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>LeadStatus&apos;InProgress</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsLeadStatus_IsNotInterested</name>
        <label>IsLeadStatus&apos;IsNotInterested&apos;</label>
        <locationX>776</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>IsLeadStatuts_IsDiscarded</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE</defaultConnectorLabel>
        <rules>
            <name>LeadIsNotInterested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pas intéressé</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>LeadIsNotInterested</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsLeadStatuts_IsDiscarded</name>
        <label>IsLeadStatuts&apos; IsDiscarded&apos;</label>
        <locationX>974</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>FALSE</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pas interessant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LeadIsDisregarded</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>TRUE_Lead is discarded</label>
        </rules>
    </decisions>
    <description>Updates Lead Date fields depending on Status changes</description>
    <environments>Default</environments>
    <formulas>
        <name>For_Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>FL_01_REC_Lead_UpdateStagePassageDate_After-Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL_01_REC_Lead_UpdateStagePassageDate_After-Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>LeadIsDisregarded</name>
        <label>LeadIsDisregarded</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Close_date__c</field>
            <value>
                <elementReference>For_Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_pas_int_ressant__c</field>
            <value>
                <elementReference>For_Today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_7_A1</name>
        <label>Date of lead not interested</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Close_date__c</field>
            <value>
                <elementReference>For_Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_pas_int_ress__c</field>
            <value>
                <elementReference>For_Today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Pass &apos;TODAY&apos; on &apos;Date_contacter__c&apos;</description>
        <name>UpdateLead</name>
        <label>UpdateLead</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Date_contacter__c</field>
            <value>
                <elementReference>For_Today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateLead2</name>
        <label>UpdateLead</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Date_en_cours__c</field>
            <value>
                <elementReference>For_Today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>171</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IsLead_ToContact</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
