force-app/main/default/flows/INVLINEITEM_Link_to_Charge_Map_Item_by_Sales_Order_ID.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Charge_Map_Item</name>
        <label>Assign Charge Map Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Charge_Map_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Charge_Map_Item.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Charge_Map_Item_Found</name>
        <label>Charge Map Item Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Charge_Map_Item</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Charge_Map_Item</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <description>When an Invoice Line Item is created or updated with a Netsuite Sales Order Id, find the matching Charge Map Item by Sales Order ID and link them via the ChargeMapItem lookup.</description>
    <environments>Default</environments>
    <interviewLabel>INVLINEITEM - Link to Charge Map Item {!$Flow.CurrentDateTime}</interviewLabel>
    <label>INVLINEITEM - Link to Charge Map Item by Sales Order ID</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Charge_Map_Item</name>
        <label>Get Charge Map Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Charge_Map_Item_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SalesOrderID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Netsuite_Sales_Order_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ChargeMapItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Charge_Map_Item</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Netsuite_Sales_Order_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>InvoiceLineItem__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
