force-app/main/default/flows/INVLINEITEM_Recalculate_Charge_Map_Item_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Invoice_Id</name>
        <label>Add Invoice Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varC_InvoicesIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Invoices_Ids.Invoice__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Invoices_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Invoice_Ids</name>
        <label>Add Invoice Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varC_InvoicesIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Invoices_Ids_for_Previous_Charge_Map.Invoice__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Invoices_Ids_for_Previous_Charge_Map</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Empty_Invoice_Ids</name>
        <label>Empty Invoice Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varC_InvoicesIds</assignToReference>
            <operator>RemoveAll</operator>
        </assignmentItems>
        <connector>
            <targetReference>Get_Invoice_Line_Items_Previous_Charge_Map</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>All_Item_Paid_for_Previous_Charge_Map</name>
        <label>All Item Paid for Previous Charge Map</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Previous_Charge_Map_Item_to_Billed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not All Paid</defaultConnectorLabel>
        <rules>
            <name>All_Previous_Paid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Invoices_Previous_Charge_Map</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Previous_Charge_Map_Item_to_Paid</targetReference>
            </connector>
            <label>All Previous Paid</label>
        </rules>
    </decisions>
    <decisions>
        <name>All_Line_Items_Paid</name>
        <label>All Line Items Paid?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Charge_Map_Item_to_Billed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Some Unpaid</defaultConnectorLabel>
        <rules>
            <name>All_Paid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Invoices_New_Charge_Map</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Charge_Map_Item_to_Paid</targetReference>
            </connector>
            <label>All Paid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_There_a_Previous_Charge_Map_Item</name>
        <label>Is There a Previous Charge Map Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Previous Charge Map Item</defaultConnectorLabel>
        <rules>
            <name>There_is_a_Previous_Charge_Map_Item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Charge_Map_Item__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Empty_Invoice_Ids</targetReference>
            </connector>
            <label>There is a Previous Charge Map Item</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_Any_Invoice_Line_Item</name>
        <label>Is there Any Invoice Line Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Other Invoice Line Items</defaultConnectorLabel>
        <rules>
            <name>There_is_Invoice_Line_Item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Invoice_Line_Items_Previous_Charge_Map</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Invoices_Ids_for_Previous_Charge_Map</targetReference>
            </connector>
            <label>There is Invoice Line Item</label>
        </rules>
    </decisions>
    <description>When an Invoice Line Item is created or updated and linked to a Charge Map Item, recalculate the Charge Map Item Status: set to Billed if some line items are not yet paid, or Paid if all line items are Paid or Paid in Full.</description>
    <environments>Default</environments>
    <interviewLabel>INVLINEITEM - Recalculate Charge Map Item Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>INVLINEITEM - Recalculate Charge Map Item Status</label>
    <loops>
        <name>Get_Invoices_Ids</name>
        <label>Get Invoices Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Unpaid_Invoice_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Invoice_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Invoices_New_Charge_Map</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Get_Invoices_Ids_for_Previous_Charge_Map</name>
        <label>Get Invoices Ids for Previous Charge Map</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Invoice_Line_Items_Previous_Charge_Map</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Invoice_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Invoices_Previous_Charge_Map</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Invoice_Line_Items_Previous_Charge_Map</name>
        <label>Get Invoice Line Items Previous Charge Map</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_Any_Invoice_Line_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Charge_Map_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Charge_Map_Item__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>InvoiceLineItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Invoices_New_Charge_Map</name>
        <label>Get Invoices New Charge Map</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>All_Line_Items_Paid</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>varC_InvoicesIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Paid In Full</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Invoices_Previous_Charge_Map</name>
        <label>Get Invoices Previous Charge Map</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>All_Item_Paid_for_Previous_Charge_Map</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>varC_InvoicesIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Paid In Full</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Unpaid_Invoice_Line_Items</name>
        <label>Get Unpaid Invoice Line Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Invoices_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Charge_Map_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Charge_Map_Item__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>InvoiceLineItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Charge_Map_Item_to_Billed</name>
        <label>Update Charge Map Item to Billed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_There_a_Previous_Charge_Map_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Charge_Map_Item__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Billed</stringValue>
            </value>
        </inputAssignments>
        <object>ChargeMapItem__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Charge_Map_Item_to_Paid</name>
        <label>Update Charge Map Item to Paid</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_There_a_Previous_Charge_Map_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Charge_Map_Item__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </inputAssignments>
        <object>ChargeMapItem__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Previous_Charge_Map_Item_to_Billed</name>
        <label>Update Previous Charge Map Item to Billed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Charge_Map_Item__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Billed</stringValue>
            </value>
        </inputAssignments>
        <object>ChargeMapItem__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Previous_Charge_Map_Item_to_Paid</name>
        <label>Update Previous Charge Map Item to Paid</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Charge_Map_Item__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </inputAssignments>
        <object>ChargeMapItem__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Unpaid_Invoice_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Charge_Map_Item__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Charge_Map_Item__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>InvoiceLineItem__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Collection_Filter_3</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InvoiceLineItem__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Invoice_Not_Paid</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Invoices_Paid</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Paid_Invoices</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InvoiceLineItem__c</objectType>
    </variables>
    <variables>
        <name>varC_InvoicesIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
