force-app/main/default/flows/LEAD_Send_to_Support_team.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_to_Support_Create_ticket</name>
        <label>Send Email to Support / Create ticket</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>sf@pixid.fr</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccRecipientAddressList</name>
            <value>
                <stringValue>communication@pixid.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>communication@pixid.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>TXT_Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TXT_SupportEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Support</name>
        <label>Support ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Support_Queue_Id.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Support_Create_ticket</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>LEAD - Send to Support team {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LEAD - Send to Support team</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Support_Queue_Id</name>
        <label>Get Support Queue Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Support</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Support FR</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Support_Queue_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>TXT_Subject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Nouvelle demande de support - {!$Record.LeadSource} - {!$Record.Nature__c} - {!$Record.Company}</text>
    </textTemplates>
    <textTemplates>
        <name>TXT_SupportEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello l&apos;équipe Support,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Une nouvelle demande de support est arrivée via le site web.&lt;/p&gt;
&lt;p&gt;&lt;br&gt;&lt;/p&gt;
&lt;table class=&quot;ql-table-blob&quot; style=&quot;background-color: #e0f8d3; width: 700px; border-spacing: 0 5px&quot;&gt;&lt;tbody style=&quot;white-space: pre;&quot;&gt;&lt;tr style=&quot;height: 30px;&quot;&gt;&lt;th style=&quot;text-align:left&quot;&gt;Détails du contact&lt;/th&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;background-color: white; padding-left:20px;&quot;&gt;Nom : {!$Record.FirstName} {!$Record.LastName}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;background-color: white; padding-left:20px;&quot;&gt;Entreprise : {!$Record.Company}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;background-color: white; padding-left:20px;&quot;&gt;Service : {!$Record.D_partement__c}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;background-color: white; padding-left:20px;&quot;&gt;Email : {!$Record.Email}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;background-color: white; padding-left:20px;&quot;&gt;Téléphone : {!$Record.Phone}&lt;/td&gt;&lt;/tr&gt;&lt;tr style=&quot;height: 30px;&quot;&gt;&lt;th style=&quot;text-align:left&quot;&gt;Message&lt;/th&gt;&lt;/tr&gt; 			&lt;tr&gt;&lt;td style=&quot;background-color: white; padding-left:20px;&quot;&gt;{!$Record.Description}&lt;/td&gt;&lt;/tr&gt; 	&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;Merci,&lt;/p&gt;&lt;p&gt;&lt;strong&gt;L&apos;équipe Communication&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(99, 199, 41);&quot;&gt;E&lt;/strong&gt; : communication@pixid.com&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(99, 199, 41);&quot;&gt;A&lt;/strong&gt; : 53/55 rue du Capitaine Guynemer - 92400 Courbevoie (France)&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://www.pixid.fr/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;img src=&quot;https://pixid-crm.file.force.com/file-asset-public/X2024signatureSF?oid=00DAW00000Kl5PI&quot;&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://www.linkedin.com/company/pixid&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;img src=&quot;https://pixid-crm.file.force.com/file-asset-public/rslinkedinsf?oid=00DAW00000Kl5PI&quot;&gt;&lt;/a&gt; &lt;a href=&quot;https://twitter.com/pixid_group&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;img src=&quot;https://pixid-crm.file.force.com/file-asset-public/X2024rstwittersf?oid=00DAW00000Kl5PI&quot;&gt;&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
