force-app/main/default/flows/LEAD_NotificationNewLeadPixidFR.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_Notification</name>
        <label>Send Email Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>varC_EmailsList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccRecipientAddressList</name>
            <value>
                <stringValue>communication@pixid.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>communication@pixid.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>varTT_EmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>varTT_EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Queue_Members_To_List</name>
        <label>Add Queue Members To List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varC_MembersList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_On_Queue_Members.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_Queue_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_User_Email_To_List</name>
        <label>Add User Email To List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varC_EmailsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_User.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddUsersEmailToList</name>
        <label>Add User&apos;s Email To List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varC_EmailsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopOnUsersFromQueue.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOnUsersFromQueue</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>France</name>
        <label>France ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_France</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Record_Type.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>France</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Owner_Is_Queue_Or_User</targetReference>
            </connector>
            <label>Yes France</label>
        </rules>
    </decisions>
    <decisions>
        <name>Owner_Is_Queue_Or_User</name>
        <label>Owner Is Queue Or User?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue</targetReference>
            </connector>
            <label>Queue</label>
        </rules>
        <rules>
            <name>User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User</targetReference>
            </connector>
            <label>User</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>LEAD - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LEAD - Notification New Lead PixidFR</label>
    <loops>
        <name>Loop_On_Queue_Members</name>
        <label>Loop On Queue Members</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Queue_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Queue_Members_To_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Users_From_Queue</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopOnUsersFromQueue</name>
        <label>Loop On Users From Queue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Users_From_Queue</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddUsersEmailToList</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send_Email_Notification</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Queue</name>
        <label>Get Queue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Queue_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_Members</name>
        <label>Get Queue Members</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_On_Queue_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Queue.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>France</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_User_Email_To_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Users_From_Queue</name>
        <label>Get Users From Queue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOnUsersFromQueue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>varC_MembersList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LeadSource</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Website</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>A contacter</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>varTT_EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;body style=&quot;font-family: maven pro; font-size: 14px;&quot;&gt;
 
	&lt;div&gt;
&lt;p&gt;Hello l&apos;équipe,&lt;/p&gt;
&lt;p&gt;Une nouvelle demande sur l&apos;offre {!$Record.Demandes__c} est arrivée pour l&apos;équipe {!Get_Queue.Name} via le site web.&lt;/p&gt;
 
&lt;p&gt;
		Tous les détails de la piste sont à retrouver dans le lien suivant :&lt;br&gt;
		{!$Record.Link__c}
&lt;/p&gt;
&lt;table style=&quot;background-color: #e0f8d3; width: 700px; border-spacing: 0 5px&quot;&gt;
&lt;tr style=&quot;height: 30px;&quot;&gt;
&lt;th style=&quot;text-align:left&quot;&gt;Détails du lead&lt;/th&gt;
&lt;/tr&gt;
 
			&lt;tr&gt;
&lt;td style=&quot;background-color: white; padding-left:20px;&quot;&gt;Offre : {!$Record.Demandes__c}&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td style=&quot;background-color: white; padding-left:20px;&quot;&gt;Nom : {!$Record.FirstName} {!$Record.LastName}&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td style=&quot;background-color: white; padding-left:20px;&quot;&gt;Entreprise : {!$Record.Company}&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td style=&quot;background-color: white; padding-left:20px;&quot;&gt;Service : {!$Record.D_partement__c}&lt;/td&gt;
&lt;/tr&gt;
&lt;tr style=&quot;height: 30px;&quot;&gt;
&lt;th style=&quot;text-align:left&quot;&gt;Message&lt;/th&gt;
&lt;/tr&gt;
 
			&lt;tr&gt;
&lt;td style=&quot;background-color: white; padding-left:20px;&quot;&gt;{!$Record.Description}&lt;/td&gt;
&lt;/tr&gt;
 
		&lt;/table&gt;
 
&lt;p&gt;Merci,&lt;/p&gt;
&lt;p style=&quot;color: #63c729; font-weight: bold;&quot;&gt;L&apos;équipe Communication&lt;/p&gt;
 
 
		&lt;p&gt; 
&lt;span style=&quot;color: #63c729; font-weight: bold;&quot;&gt;E&lt;/span&gt; : communication@pixid.com&lt;br&gt;
&lt;span style=&quot;color: #63c729; font-weight: bold;&quot;&gt;A&lt;/span&gt; : 53/55 rue du Capitaine Guynemer - 92400 Courbevoie (France)
&lt;p&gt;
&lt;/div&gt;
 
 
	&lt;div&gt;
&lt;a href=&quot;https://www.pixid.fr/&quot; target=&quot;_blank&quot;&gt;&lt;img src =&quot;https://pixid-crm.file.force.com/file-asset-public/X2024signatureSF?oid=00DAW00000Kl5PI&quot;&gt;&lt;/a&gt;
&lt;/div&gt;

 
	
&lt;div style=&quot;margin-top:10px; margin-left:6px&quot;&gt;
&lt;a href=&quot;https://www.linkedin.com/company/pixid&quot; target=&quot;_blank&quot;&gt;&lt;img src =&quot;https://pixid-crm.file.force.com/file-asset-public/rslinkedinsf?oid=00DAW00000Kl5PI&quot;&gt;&lt;/a&gt;
&lt;a href=&quot;https://twitter.com/pixid_group&quot; target=&quot;_blank&quot;&gt;&lt;img src =&quot;https://pixid-crm.file.force.com/file-asset-public/X2024rstwittersf?oid=00DAW00000Kl5PI&quot;&gt;&lt;/a&gt;
&lt;/div&gt;

 
 
&lt;/body&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>varTT_EmailSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Nouvelle piste pour {!Get_Queue.Name} :  {!$Record.LeadSource} - {!$Record.Demandes__c} - {!$Record.Company}</text>
    </textTemplates>
    <variables>
        <name>varC_EmailsList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varC_MembersList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
