force-app/main/default/flows/NOTIFICATION_Send_to_Owner_for_FeedItem_on_CASE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send</name>
        <label>Send</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>0MLIV000000uP8b4AE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Recipient</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>BodyNotif</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AssignOwner_Id_to_Recipients</name>
        <label>AssignOwner Id to Recipients</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Recipient</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetOwner.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Filter_if_Owner_matches</name>
        <label>Filter if Owner matches</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Owner_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOwner.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GetFeedItemUser.Id</elementReference>
                </rightValue>
            </conditions>
            <label>Owner Match</label>
        </rules>
        <rules>
            <name>Owner_is_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOwner.Id</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignOwner_Id_to_Recipients</targetReference>
            </connector>
            <label>Owner is User</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>BodyNotif</name>
        <dataType>String</dataType>
        <expression>IF(
  TEXT({!GetOwner.LanguageLocaleKey}) = &quot;fr&quot;,
  &quot;Un nouveau commentaire a été ajouté sur un ticket dont vous êtes propriétaire : &quot; &amp; {!$Record.Parent:Case.CaseNumber} ,
  &quot;A new comment has been posted on the Case you own: &quot; &amp; {!$Record.Parent:Case.CaseNumber}
) 
&amp; 
BR()
&amp;
SUBSTITUTE(
  SUBSTITUTE({!$Record.Body}, &quot;&lt;p&gt;&quot;, &quot;&quot;),
&quot;&lt;/p&gt;&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>RecipientId</name>
        <dataType>String</dataType>
        <expression>{!GetOwner.Id}</expression>
    </formulas>
    <formulas>
        <name>Title</name>
        <dataType>String</dataType>
        <expression>IF(
  TEXT({!GetOwner.LanguageLocaleKey}) = &quot;fr&quot;,
  &quot;Nouveau commentaire sur le Ticket - &quot; &amp; {!$Record.Parent:Case.CaseNumber} , 
  &quot;New comment on Case - &quot; &amp; {!$Record.Parent:Case.CaseNumber}
)</expression>
    </formulas>
    <interviewLabel>NOTIFICATION - Send to Owner for FeedItem on CASE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NOTIFICATION - Send to Owner for FeedItem on CASE</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetFeedItemUser</name>
        <label>GetFeedItemUser</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetOwner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.InsertedById</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOwner</name>
        <label>GetOwner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_if_Owner_matches</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parent:Case.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetFeedItemUser</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TextPost</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LinkPost</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EmailMessageEvent</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AdvancedTextPost</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ContentPost</stringValue>
            </value>
        </filters>
        <object>FeedItem</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Recipient</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
