force-app/main/default/flows/Reej_SF_Create_Community_User.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_user_global_infos</name>
        <label>Assign user global infos</label>
        <locationX>666</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>User_created.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>User_created.Alias</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Alias</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>User_created.CommunityNickname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactFullName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>User_created.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>User_created.EmailEncodingKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>UTF-8</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>User_created.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>User_created.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>User_created.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>User_created.UserPermissionsKnowledgeUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>User_created.Username</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Username</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>User_created.ProfileId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_profile</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>User_created.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>User_created.User_admin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varF_IsUserAdmin</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>User_created.LocaleSidKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Choose_locale</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>User_created.LanguageLocaleKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Choose_language</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>User_created.TimeZoneSidKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Choose_time_zone_Choisir_le_fuseau_horaire</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_user</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Chooselanguage</name>
        <choiceText>{!Language_US}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Us</stringValue>
        </value>
    </choices>
    <choices>
        <name>Language_BE</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;French  - Français (International)&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>fr_BE</stringValue>
        </value>
    </choices>
    <choices>
        <name>Language_DE</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;German - Allemand&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>de</stringValue>
        </value>
    </choices>
    <choices>
        <name>Language_ES</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Spanish - Espagnol&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>es</stringValue>
        </value>
    </choices>
    <choices>
        <name>Language_FR</name>
        <choiceText>French - Français</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>fr</stringValue>
        </value>
    </choices>
    <choices>
        <name>Language_UK</name>
        <choiceText>English UK - Anglais UK</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>en_GB</stringValue>
        </value>
    </choices>
    <choices>
        <name>Language_US</name>
        <choiceText>English US - Anglais US</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>en_US</stringValue>
        </value>
    </choices>
    <choices>
        <name>Locale_Fr</name>
        <choiceText>French - Français</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>fr_FR_EURO</stringValue>
        </value>
    </choices>
    <choices>
        <name>Locale_UK</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Anglais UK - English UK&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>en_GB</stringValue>
        </value>
    </choices>
    <choices>
        <name>Locale_Us</name>
        <choiceText>English US - Anglais US</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>en_US</stringValue>
        </value>
    </choices>
    <constants>
        <name>TRUE</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </constants>
    <decisions>
        <name>DoesTheUserAlreadyHaveAPermSet</name>
        <label>Does The User Already Have A PermSet?</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>PublishPermSetEvent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_PermSet_Assignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sc1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Existence_Check</name>
        <label>User Existence Check</label>
        <locationX>358</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>USER_INFOS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Inactive_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Existing_User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_Exists</targetReference>
            </connector>
            <label>Yes - Inactive User</label>
        </rules>
        <rules>
            <name>Yes_Update_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Existing_User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateActiveUser</targetReference>
            </connector>
            <label>Yes - Update User</label>
        </rules>
    </decisions>
    <description>Added value to nickname to avoid Nickname already in use</description>
    <dynamicChoiceSets>
        <name>Choose_Time_Zone</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TimeZoneSidKey</picklistField>
        <picklistObject>User</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChooseTimeZone</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TimeZoneSidKey</picklistField>
        <picklistObject>User</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CHX_Langue</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MasterLanguage</picklistField>
        <picklistObject>Knowledge__ka</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CHX_Locale</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>LocaleSidKey</picklistField>
        <picklistObject>User</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Alias</name>
        <dataType>String</dataType>
        <expression>LOWER(LEFT({!recordId.FirstName}, 1) &amp; LEFT({!recordId.LastName}, 3))</expression>
    </formulas>
    <formulas>
        <name>ContactFullName</name>
        <dataType>String</dataType>
        <expression>{!recordId.FirstName} &amp; &quot; &quot; &amp; {!recordId.LastName} &amp; &quot; - &quot; &amp; TEXT(HOUR(TIMEVALUE(NOW())))</expression>
    </formulas>
    <formulas>
        <name>Username</name>
        <dataType>String</dataType>
        <expression>LEFT({!recordId.Email}, FIND(&quot;@&quot;, {!recordId.Email}) - 1) &amp; &quot;+support@&quot; &amp; 
RIGHT({!recordId.Email}, LEN({!recordId.Email}) - FIND(&quot;@&quot;, {!recordId.Email}))</expression>
    </formulas>
    <formulas>
        <name>varF_IsUserAdmin</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Admin_user} = True, True, False)</expression>
    </formulas>
    <formulas>
        <name>varF_ProfileNameCreateUser</name>
        <dataType>String</dataType>
        <expression>IF({!Admin_user} = true, 
IF( {!Peut_cr_er_des_tickets2} = true, &quot;Customer Community Login Admin&quot;, &quot;Customer Community Login Reader&quot;)
, &quot;Customer Community Login User&quot;)</expression>
    </formulas>
    <formulas>
        <name>varF_ProfileNameUpdateUser</name>
        <dataType>String</dataType>
        <expression>IF({!Copy_2_of_Admin_user} = true, 
IF( {!Peut_cr_er_des_tickets} = true, &quot;Customer Community Login Admin&quot;, &quot;Customer Community Login Reader&quot;)
, &quot;Customer Community Login User&quot;)</expression>
    </formulas>
    <interviewLabel>Reej-SF-Create-Community-User {!$Flow.CurrentDateTime}</interviewLabel>
    <label>COMMUNITY - Create or Update Community User</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_user</name>
        <label>Create user</label>
        <locationX>666</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Publish_Contact_Update_Event</targetReference>
        </connector>
        <inputReference>User_created</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Publish_Contact_Update_Event</name>
        <label>Publish Contact Update Event</label>
        <locationX>666</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>PublishPermsetEvent2</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId__c</field>
            <value>
                <elementReference>Get_user_contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Id__c</field>
            <value>
                <elementReference>User_created.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Community_Contact_Update_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>PublishPermSetEvent</name>
        <label>Publish PermSet Event</label>
        <locationX>138</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Sc1</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermSetId__c</field>
            <value>
                <elementReference>Get_Permset_Group.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId__c</field>
            <value>
                <elementReference>Get_Existing_User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Community_Assign_Perm_Set__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>PublishPermsetEvent2</name>
        <label>Publish Permset Event</label>
        <locationX>666</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Sc1</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermSetId__c</field>
            <value>
                <elementReference>Get_Permset_Group.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId__c</field>
            <value>
                <elementReference>User_created.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Community_Assign_Perm_Set__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_account</name>
        <label>Get account</label>
        <locationX>666</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_user_contact.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_case</name>
        <label>Get case</label>
        <locationX>666</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_user_global_infos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_PermSet_Assignment</name>
        <label>Get Existing PermSet Assignment</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DoesTheUserAlreadyHaveAPermSet</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Existing_User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Permset_Group.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_User</name>
        <label>Get Existing User</label>
        <locationX>358</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PermSet_ID</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Permset_Group</name>
        <label>Get Permset Group</label>
        <locationX>358</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Existence_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>Contains</operator>
            <value>
                <stringValue>SELF User</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PermSet_ID</name>
        <label>Get PermSet ID</label>
        <locationX>358</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Permset_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Community_User_Login</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_profile</name>
        <label>Get profile</label>
        <locationX>666</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_user_contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varF_ProfileNameCreateUser</elementReference>
            </value>
        </filters>
        <object>Profile</object>
        <outputAssignments>
            <assignToReference>Var_profile</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_user_contact</name>
        <label>Get user contact</label>
        <locationX>666</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetProfile</name>
        <label>Get Profile</label>
        <locationX>402</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_User_Active</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varF_ProfileNameUpdateUser</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_user</name>
        <label>Update user</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Get_Existing_PermSet_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Existing_User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LanguageLocaleKey</field>
            <value>
                <elementReference>recordId.Language__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserPermissionsKnowledgeUser</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Active</name>
        <label>Update User</label>
        <locationX>402</locationX>
        <locationY>782</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Existing_PermSet_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Existing_User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LanguageLocaleKey</field>
            <value>
                <elementReference>Copy_2_of_Choose_language</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocaleSidKey</field>
            <value>
                <elementReference>Copy_2_of_Choose_locale</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProfileId</field>
            <value>
                <elementReference>GetProfile.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeZoneSidKey</field>
            <value>
                <elementReference>Copy_2_of_Choose_time_zone_Choisir_le_fuseau_horaire</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_admin__c</field>
            <value>
                <elementReference>Copy_2_of_Admin_user</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Sc1</name>
        <label>Sc1</label>
        <locationX>358</locationX>
        <locationY>1622</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>update</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(68, 68, 68);&quot;&gt;L&apos;utilisateur﻿&lt;/strong&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(122, 240, 30);&quot;&gt; C&lt;/strong&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;ommunity &lt;/strong&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(100, 200, 40);&quot;&gt;{!recordId.FirstName} {!recordId.LastName}&lt;/strong&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt; a été modifié &lt;/strong&gt;&lt;strong style=&quot;font-size: 22px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;🔄️&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Existing_User.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Created</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;L&apos;utilisateur Community &lt;/strong&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(100, 200, 40);&quot;&gt;{!User_created.FirstName} {!User_created.LastName}&lt;/strong&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt; a été créé &lt;/strong&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;🆕&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Existing_User.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>UpdateActiveUser</name>
        <label>Update Active User</label>
        <locationX>402</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetProfile</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_Info_French</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(100, 200, 40); font-size: 14px;&quot;&gt;Mettre à jour un utilisateur actif&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_2_of_Admin_user</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_Existing_User.User_admin__c</elementReference>
            </defaultValue>
            <fieldText>Suivi tickets au niveau de l&apos;enseigne? 🛠️</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Veuillez cocher au moins une case&lt;/p&gt;</errorMessage>
                <formulaExpression>NOT( AND ({!Peut_cr_er_des_tickets} = false, {!Copy_2_of_Admin_user} = false ))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Peut_cr_er_des_tickets</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>TRUE</elementReference>
            </defaultValue>
            <fieldText>Peut créer des tickets</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Veuillez cocher au moins une case&lt;/p&gt;</errorMessage>
                <formulaExpression>NOT( AND ({!Peut_cr_er_des_tickets} = false, {!Copy_2_of_Admin_user} = false ))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>UpdateActiveUser_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>UpdateActiveUser_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_2_of_Choose_language</name>
                    <choiceReferences>Language_FR</choiceReferences>
                    <choiceReferences>Language_BE</choiceReferences>
                    <choiceReferences>Language_UK</choiceReferences>
                    <choiceReferences>Language_US</choiceReferences>
                    <choiceReferences>Language_DE</choiceReferences>
                    <choiceReferences>Language_ES</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Existing_User.LanguageLocaleKey</elementReference>
                    </defaultValue>
                    <fieldText>Choose language - Choisir le langage 🌍</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;Select the language for the user interface. This setting determines the language of menus, labels, and messages.&lt;/p&gt;&lt;p&gt;Sélectionnez la langue de l&apos;interface utilisateur. Ce paramètre détermine la langue des menus, libellés et messages.&lt;/p&gt;&lt;p&gt;French (BE) = French international&lt;/p&gt;&lt;p&gt;English = English US&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_2_of_Choose_locale</name>
                    <choiceReferences>Locale_Fr</choiceReferences>
                    <choiceReferences>Language_BE</choiceReferences>
                    <choiceReferences>Locale_UK</choiceReferences>
                    <choiceReferences>Locale_Us</choiceReferences>
                    <choiceReferences>Language_DE</choiceReferences>
                    <choiceReferences>Language_ES</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Existing_User.LocaleSidKey</elementReference>
                    </defaultValue>
                    <fieldText>Choose locale - Paramètres régionaux 📍</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;Select the user&apos;s locale to format dates, times, numbers, and addresses according to regional settings.&lt;/p&gt;&lt;p&gt;Sélectionnez la locale de l&apos;utilisateur pour formater les dates, heures, nombres et adresses selon les paramètres régionaux.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_2_of_Choose_time_zone_Choisir_le_fuseau_horaire</name>
                    <choiceReferences>ChooseTimeZone</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Existing_User.TimeZoneSidKey</elementReference>
                    </defaultValue>
                    <fieldText>Choose time zone - Choisir le fuseau horaire 🕒</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;Select the user&apos;s time zone to ensure accurate date and time display.&lt;/p&gt;&lt;p&gt;Sélectionnez le fuseau horaire de l&apos;utilisateur pour garantir l&apos;affichage correct des dates et heures.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>User_Exists</name>
        <label>User Exists - Inactive</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_user</targetReference>
        </connector>
        <fields>
            <name>UserInactifExistant</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(41, 202, 5);&quot;&gt;Utilisateur inactif déjà existant&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>UserExists</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;﻿Un utilisateur Community inactif existe déjà pour ce contact - souhaitez-vous le réactiver?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Activate Community User</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>USER_INFOS</name>
        <label>No user</label>
        <locationX>666</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_profile</targetReference>
        </connector>
        <fields>
            <name>USER_INFOS_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>USER_INFOS_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TextScreen</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(100, 200, 40);&quot;&gt;Vous allez activer le contact comme utilisateur du portail.&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Admin_user</name>
            <dataType>Boolean</dataType>
            <fieldText>Est-ce que l&apos;utilisateur sera un utilisateur administrateur? 🛠️</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Veuillez cocher au moins une case&lt;/p&gt;</errorMessage>
                <formulaExpression>NOT( AND ({!Peut_cr_er_des_tickets2} = false, {!Admin_user} = false ))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Peut_cr_er_des_tickets2</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>TRUE</elementReference>
            </defaultValue>
            <fieldText>Peut créer des tickets</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Veuillez cocher au moins une case&lt;/p&gt;</errorMessage>
                <formulaExpression>NOT( AND ({!Peut_cr_er_des_tickets2} = false, {!Admin_user} = false ))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>USER_INFOS_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>USER_INFOS_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Choose_language</name>
                    <choiceReferences>Language_FR</choiceReferences>
                    <choiceReferences>Language_BE</choiceReferences>
                    <choiceReferences>Language_UK</choiceReferences>
                    <choiceReferences>Language_US</choiceReferences>
                    <choiceReferences>Language_DE</choiceReferences>
                    <choiceReferences>Language_ES</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Choisir la langue 🌍</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;Select the language for the user interface. This setting determines the language of menus, labels, and messages.&lt;/p&gt;&lt;p&gt;Sélectionnez la langue de l&apos;interface utilisateur. Ce paramètre détermine la langue des menus, libellés et messages.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Choose_locale</name>
                    <choiceReferences>Locale_Fr</choiceReferences>
                    <choiceReferences>Language_BE</choiceReferences>
                    <choiceReferences>Locale_UK</choiceReferences>
                    <choiceReferences>Locale_Us</choiceReferences>
                    <choiceReferences>Language_DE</choiceReferences>
                    <choiceReferences>Language_ES</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>Locale_Fr</defaultSelectedChoiceReference>
                    <fieldText>Paramètres régionaux 📍</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;Select the user&apos;s locale to format dates, times, numbers, and addresses according to regional settings.&lt;/p&gt;&lt;p&gt;Sélectionnez la locale de l&apos;utilisateur pour formater les dates, heures, nombres et adresses selon les paramètres régionaux.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Choose_time_zone_Choisir_le_fuseau_horaire</name>
                    <choiceReferences>ChooseTimeZone</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Europe/Paris</stringValue>
                    </defaultValue>
                    <fieldText>Choisir le fuseau horaire 🕒</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;Select the user&apos;s time zone to ensure accurate date and time display.&lt;/p&gt;&lt;p&gt;Sélectionnez le fuseau horaire de l&apos;utilisateur pour garantir l&apos;affichage correct des dates et heures.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Existing_User</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>User_created</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>Var_profile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
